/*----------------------------------------------------------------------*/
/* Prototype-specfic styling
/*----------------------------------------------------------------------*/
.main-content {
  padding: 4em 2em 2em 2em; /*Extra padding at top for navbar*/
  height: 100%;
  width: 100%;
}

/* Subheader styling, to be used inside an header tag (e.g. child of h2) */
.header-subheader {
  font-size: 60%;
  font-weight: 500;
}

/* Test components */
.bg-test {
  background: #806B45;
  margin-top: 70px;
}

.navbar-test {
  border-top: 3px black solid;
}

.navbar-test h3 {
  display: inline-block;
  margin-top: 5px;
  color: black;
}

.navbar-test small {
  color: black;
}

.navbar-test a.btn {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

/*----------------------------------------------------------------------*/
/* EdGEL styling */
/* Main theme colour = #041E42 university blue */
/*----------------------------------------------------------------------*/
/* Primary button using UOE colours */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #041E42;
  border-color: #021835;
  background-image: -webkit-linear-gradient(top,#041E42 0,#07234A 100%);
  background-image: -o-linear-gradient(top,#041E42 0,#07234A 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#041E42),to(#07234A));
  background-image: linear-gradient(to bottom,#041E42 0,#07234A 100%);
}

/*Text colour using UOE colours */
.text-uoe-colour {
  color: #041E42;
}

/*UOE panels - mostly copied from EdWeb*/
.panel {
  margin-bottom: 1.5em;
}

.panel-uoe-high {
  background: #041E42;
}

.panel-uoe-high .panel-heading {
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background: #041E42;
  border-color: #041e42;
}

.panel-uoe-high .panel-body {
  padding-top: 0;
  color: #fff;
  background: #041E42;
}

.panel-uoe-high a {
  color: #19b5fe;
}

.panel-uoe-low {
  border-color: #ddd;
  border-top: 8px solid #041e42;
}

.panel-uoe-low .panel-heading {
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  border-radius: 0;
}

.panel-uoe-colour h1.panel-title,
.panel-uoe-colour h2.panel-title,
.panel-uoe-colour h3.panel-title,
.panel-uoe-colour h4.panel-title,
.panel-uoe-colour h5.panel-title,
.panel-uoe-colour h6.panel-title {
    font-weight: 600;
    font-size: 17px;
}

h3.panel-title {
  font-size: 1.65em;
}

/* Fix navbar text color */
.navbar {
  color: #fff;
}

/* Match link styles to main site */
a {
  color: #346dbf;
  text-decoration: none;
}

/*----------------------------------------------------------------------*/
/* Action list - adapted from http://jsfiddle.net/5JP8Q */
/*----------------------------------------------------------------------*/
.list-action {
  padding-left: 1em;
}

/* Action title and icon */
.list-action-title {
  padding-top: 0.5em;
	font-size: 1.5em;
}

.list-action-title .fa-li {
  position: absolute;
  left: -2em;
  width: 3em;
  top: 0;
}

/* Action item styling - show connecting workflow lines */
.list-action-item {
  position: relative;
  /*margin-bottom: 0; Override any previously specified margin-bottom */
  padding-bottom: 2em;
  padding-left: 2em;
  list-style: none;
}

.list-action-item:before {
  /* lines */
  content:"";
  position: absolute;
  left: -1.1em;
  top: 1.7em;
  border-left: 2px solid black;
  height: 100%;
  width: 2px;
}

.list-action-item:last-child:before {
  height: 0;
}

/* Action task list */
.list-tasks {
  margin-top: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.list-tasks-item {
  margin-bottom: 1em;
}

.list-tasks-item-complete {
  color: #777; /*text-muted*/
}

.list-tasks-item-todo {
  color: white;
  background-color: #041E42;
  height: 25px;
  font-size: 15px;
}

.list-tasks-item-done {
  color: white;
  background-color: #777;
  height: 25px;
  font-size: 15px;
}

.list-tasks-title {
  font-size: 1.2em;
}

.list-tasks-help {
  margin-left: 0;
}
