.table-statuses .status {
  font-size: 1.4em
}

.table-statuses .status small {
  font-size: 0.6em;
  display: block
}

.headercontainer img {
  max-width: 100%
}

@media screen and (min-width: 767px) {
  .headercontainer .img-right {
    text-align: right;
    margin-top: 1em
  }

  .headercontainer .img-right img {
    max-width: 100%;
    max-height: 55px
  }
}

@media screen and (max-width: 767px) {
  .headercontainer .img-right {
    margin: 0;
    text-align: center
  }

  .headercontainer .col-xs-12 {
    text-align: center
  }
}

ol.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0.5em 0
}

ol.breadcrumbs li {
  display: inline-block;
  padding: 0 0.5em 0 0
}

ol.breadcrumbs li:after {
  content: ' > ';
  padding-left: 0.5em;
  display: inline-block
}

ol.breadcrumbs li:last-child:after {
  content: ''
}

ul.stats {
  list-style: none;
  padding: 0
}

ul.stats li {
  display: inline-block;
  width: 24.6%;
  vertical-align: text-top;
  padding: 0.5em 1em
}

ul.stats li i.fa {
  font-size: 3em;
  float: left;
  padding: 0.25em
}

ul.stats li span {
  display: block;
  font-size: 1.2em
}

ul.stats li small {
  display: block
}

ul.docs {
  list-style: none;
  padding: 0;
  margin-top: 1em
}

ul.docs li {
  display: inline-block;
  margin-right: 1em;
  text-align: center
}

ul.docs li i.fa {
  display: block
}

ul.docs li span {
  display: block;
  font-size: 1.2em
}

ul.docs li small {
  display: block
}

ul.refs {
  list-style: none;
  padding: 0;
  margin: 0
}

ul.refs li {
  display: inline-block;
  margin-right: 1em;
  text-align: center
}

ul.refs li span {
  display: block;
  font-size: 1.2em
}

ul.refs li small {
  display: block
}

ul.refs li i.fa {
  display: block
}

input[type="radio"]:checked + label {
  font-weight: bold
}

@media screen and (max-width: 991px) {
  ul.stats > li {
    width: 49%;
    text-align: center
  }

  ul.stats > li i.fa {
    display: block;
    float: none
  }
}

ul.centre-pills {
  text-align: center
}

ul.centre-pills li {
  display: inline-block;
  float: none;
  text-align: center
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding-top: 25%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default
}

.bg i.fa {
  font-size: 5.5em;
  display: block;
  margin-bottom: 0.15em
}

body.processing {
  overflow: hidden
}

.footer {
  margin-top: 0
}

@media screen and (min-width: 767px) {
  body.processing .content-wrapper {
    filter: blur(7px);
    -webkit-filter: blur(7px)
  }
}

.tab-pane {
  padding: 1.5em;
  border: 1px solid #DDD;
  border-top: 0;
  margin-bottom: 1em
}

@media screen and (max-width: 767px) {
  .tab-pane {
    padding: 0.5em
  }
}

table.messages .unread td:first-child a {
  font-weight: 700
}

table.messages .unread td:first-child a:after {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 0.6em;
  padding: 0 0.5em;
  margin-top: -0.35em;
  display: inline-block
}

table.messages .unread td:first-child small {
  padding-left: 0.2em
}

table.messages .unread td:first-child small + small {
  font-weight: 700;
  text-transform: uppercase
}

table.messages .replied td:first-child a:after {
  content: "\f112";
  font-family: FontAwesome;
  font-size: 0.6em;
  padding: 0 0.5em;
  margin-top: -0.35em;
  display: inline-block
}

div.message-table-holder {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden
}

div.message-table-holder tfoot {
  display: none
}

ol.messages {
  list-style: none;
  padding: 1em 70px
}

ol.messages li {
  max-width: 1200px;
  padding: 1em;
  margin: 0.5em 0;
  min-height: 3.5em;
  position: relative;
  clear: both;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2)
}

ol.messages li > small {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  padding: 0.5em;
  width: 7em;
  opacity: 0.75;
  text-align: center
}

ol.messages li > div {
  padding: 0.4em 5em 0.4em 0.4em;
  margin-bottom: 0
}

ol.messages li > div.msg {
  font-size: 13px
}

ol.messages li:before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  opacity: 0.8
}

ol.messages li:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: absolute;
  top: 18px
}

ol.messages li.sent {
  float: right;
  background: #FAFAFA
}

ol.messages li.sent:before {
  content: 'ME';
  text-align: center;
  font-size: 18px;
  padding-top: 0.65em;
  float: right;
  margin-right: -75px;
  background: #EEE;
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 100px
}

ol.messages li.sent:after {
  content: "\f0da";
  color: #FAFAFA;
  right: -8px;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1)
}

ol.messages li.received {
  float: left;
  background: #EEE
}

ol.messages li.received:before {
  background: url('images/uoe/crest.png') no-repeat;
  background-size: 50px 50px;
  float: left;
  margin-left: -75px
}

ol.messages li.received:after {
  content: "\f0d9";
  color: #EEE;
  left: -8px;
  text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 767px) {
  ol.messages {
    padding: 0.2em
  }

  ol.messages > li:after {
    display: none
  }

  ol.messages > li {
    border-radius: 0;
    padding: 0;
    border: 1px solid #DDD
  }

  ol.messages > li div {
    padding: 0;
    margin: 0;
    clear: both
  }

  ol.messages > li table tbody tr:first-child td, ol.messages > li table tbody tr:first-child th {
    border-top: none
  }

  ol.messages > li div.msg {
    padding: 0 0.8em 0.8em
  }

  ol.messages > li:before {
    display: none
  }
}

@media print {
  .footer, .footer-copyright, .headercontainer, ol.breadcrumb, a.btn {
    display: none
  }

  .content-window {
    font-size: 0.8em !important
  }

  .tab-content > .tab-pane {
    display: block;
    padding: 0
  }

  .printable {
    margin: 0px !important
  }

  a:link:after, a:visited:after {
    content: '' !important
  }
}

.form-horizontal .qst-label {
  margin-bottom: 0;
  text-align: right
}

.inline-right {
  display: inline-block;
  float: right
}

label + input + input[type="hidden"] + span + br {
  display: none
}

label + input + input[type="hidden"] + span + br + input + label + input {
  margin-top: 0.4em
}

label + input + label.error + input[type="hidden"] + span + br + input + label + input {
  margin-top: 0.4em
}

label + input + label.error + input[type="hidden"] + span + br {
  display: none
}

label[data-class="dont-break"] {
  margin: 0.5em
}

label[data-class="dont-break"] + br {
  display: none
}

.green {
  color: #5CB85C
}

.red {
  color: #D9534F
}

.orange {
  color: #EEA236
}

.blue {
  color: #428BCA
}

.light-blue {
  color: #5BC0DE
}

.grey {
  color: #A5A5A5
}

.progress-bar-grey {
  background: #A5A5A5
}

label.error {
  color: #E9534F;
  font-weight: 600;
  display: block;
  padding: 0.2em 0
}

label.error:before {
  content: '\f071';
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 0.3em
}

input[type="text"].error, input[type="email"].error, input[type="number"].error, input[type="url"].error, textarea.error {
  border: 1px solid #E9534F;
  background: rgba(255, 0, 0, 0.05)
}
