<div class="app-details collapse in">
  <ul class="list-action fa-ul">
    <li *ngFor="let step of workflow" class="list-action-item">
      <workflow-step [step]="step" [tasks]="tasks" [information]="information"></workflow-step>
    </li>
  </ul>
</div>

