<li class="list-tasks-item">
  <div class="list-tasks-title">
    <a href="{{ information.url }}" target="_blank">
      {{ information.title }}
    </a>
  </div>
  <p class="list-tasks-help">{{ information.supportText }}</p>
</li>
