<div *ngIf="hasOpenTasks" class="panel panel-uoe-high list-tasks">
  <div class="panel-heading">
    <h3 class="panel-title">What you need to do</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <workflow-step-task *ngFor="let task of tasks" [task]="task"></workflow-step-task>
    </ul>
  </div>
</div>

<div *ngIf="!hasOpenTasks" class="panel panel-uoe-low list-tasks">
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>You have nothing to do just now.</li>
    </ul>
  </div>
</div>

<div *ngIf="information.length !== 0" class="panel panel-uoe-low list-tasks">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <workflow-step-information *ngFor="let info of information" [information]="info"></workflow-step-information>
    </ul>
  </div>
</div>
