<div class="list-action-title">
  <span class="fa-stack fa-lg fa-li"
        [class.text-muted]="step.status === 'complete' || 'future'"
        [class.text-uoe-colour]="step.status === 'process_action'">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-stack-1x fa-inverse"
       [class.fa-check]="step.status === 'complete'"
       [class.fa-exclamation]="step.status === 'process_action'"
       [class.fa-ellipsis-h]="step.status === 'future'">
    </i>
  </span>
  <a *ngIf="step.status !== 'process_action'" [id]="step.url" data-toggle="popover"
          title="Information" content="{{ step.tooltip ">
    {{ step.title }}
  </a>
  <div *ngIf="step.status === 'process_action'">
    {{ step.title }}
  </div>
</div>

<p *ngIf="step.supportText">{{ step.supportText }}</p>

<workflow-step-tasks *ngIf="step.status === 'process_action'"
                     [tasks]="tasks" [information]="information">
</workflow-step-tasks>
