body {
  font: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #333;
  background: #e8e8e8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
}
.jumbotron.headercontainer {
  background: #fff;
  padding: 20px 0;
  margin: 0;
  position: relative;
}
.jumbotron.headercontainer .uoe-logo img {
  width: 90%;
  height: auto;
  max-width: 462px;
}
.content-window {
  background: #f5f5f5;
  padding: 1rem 3rem;
  padding-bottom: 30px;
  font-size: 1.4rem;
}
.footer {
  color: #ccc;
  font-size: 1em;
  background: linear-gradient(to bottom, #333333 0, #262626 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-top: none;
  padding: 15px;
}
.footer a[href] {
  color: #EEE;
}
.footer a[href]:hover {
  color: #FFF;
}
.footer.jumbotron p {
  font-size: 1em;
}
.footer-copyright {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #666;
  font-size: .8em;
}
.tab-content {
  background: white;
}
.table {
  background: rgba(255, 255, 255, 0.6);
}
ol.breadcrumb {
  background: #e4e4e4;
  padding: 5px 5px 5px 10px;
  border-radius: 4px;
  margin: 0.5em 0 1em 0;
  font-size: 0.85em;
}
ol.breadcrumb a {
  color: #333;
}
.panel.panel-default,
.tab-pane {
  box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1), inset 0 7px 0 #dd0031;
  border-radius: 0;
  border: none;
}
.panel .alert {
  margin: 10px 0 20px;
}
.home-hero {
  background: #dd0031;
  color: white;
  font-family: 'Crimson Text', serif;
}
.home-hero a {
  color: white;
}
.headercontainer > .container-fluid {
  padding-top: 0 !important ;
  padding-bottom: 0 !important;
}
form input[type="text"] {
  color: #333 !important;
}
ul.nav.nav-tabs li a {
  color: #333;
  border-color: transparent;
}
ul.nav.nav-tabs li a:hover {
  color: #222;
}
ul.nav.nav-tabs li.active a {
  background: #DD0031;
  color: white;
}
ul.nav.nav-tabs li.active a:hover {
  border-color: transparent;
  color: white;
}
.sitstablegrid {
  margin: 0.5em 0;
}
.sitstablegrid td {
  padding: 0.25em 0.5em;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 37px;
  }
  h3 {
    font-size: 28px;
  }
  .printable {
    margin: 1em;
  }
  ul.nav.nav-tabs {
    padding-bottom: 0.5em;
  }
  ul.nav.nav-tabs li {
    margin: 0.2em 0;
    display: block;
    text-align: left;
  }
  ul.nav.nav-tabs li a {
    border-radius: 2px;
  }
}
@media screen and (min-width: 767px) {
  .container-fluid {
    margin: 0 2em;
    padding: 1rem 45px;
  }
  ul.nav.nav-tabs li {
    font-size: 1.1em;
  }
  ul.nav.nav-tabs li a {
    padding: 10px 15px 7px;
    border-radius: 2px 2px 0 0;
  }
  .footer-copyright {
    margin-bottom: 2em !important;
  }
}
@media screen and (min-width: 1712px) {
  .container-fluid {
    margin: 0 auto;
    max-width: 1656px;
    padding: 1rem 45px;
  }
}
