/* include for myed styles */ 
@import url("myedlogin.css");
/* include for ease styles */
@import url("ease.css");

/*  prevents visible style switch by hiding body until after browser detection and if detected, mobile code is added  */
/* .hidden {
	visibility: hidden!important;
}
*/

/* basic styles for IS template */

.standalone-frontTriple #branding img {
	max-width:445px;
}

.standalone-frontTriple #branding span {
	background:none;
}

.standalone-frontTriple .promoSmall .infoItem.narrow {
	width:275px;
}

.standalone-frontTriple .promoSmall .infoItem.wide {
    width:514px;
}

.standalone-frontTriple .promoSmall {
  padding-top: 20px;
}

.clearFloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}




