/* myed login pages styles */



/* News panel or Alert section */

.standalone-frontTriple .newsPanel {
  clear: left;
  float: left;
  width: 811px;
  background: #f5f5f5;
  border: 1px solid #DD0031;
}

.standalone-frontTriple #contentArea .newsPanel h4 {
  padding: 0.5em 0.25em 0.25em 0;
  margin: 0 0 0 10px;
  font-weight: bold;
}

.standalone-frontTriple .newsPanel p {
  padding: 2px 5px 0 0;
  margin: 0 5px 0 10px;
}

#closeAlert {
  float:right;
  padding: 10px;
}

#closeAlert a, #closeAlert a:visited {
  text-decoration: none;
  color: #dd0031;
  font-weight:bold;
  font-size: 120%;
}

/* MyEd login button */

#contentArea .infoItem a.myedlogin-bt {
  background: #dd0031;
  color: #fff;
  font-size:25px;
  font-weight:normal;
  /*border-radius: 10px;*/
  border-radius: 4px 4px 4px 4px;
  padding: 8px;
  margin-bottom: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #555;
  text-align:center;
  display: block;
  -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

#contentArea .infoItem a.myedlogin-bt:hover, #contentArea .infoItem a.myedlogin-bt:active, #contentArea .infoItem a.myedlogin-bt:focus {
  background-color: rgb(255, 17, 70);
  color: #fff!important;
  text-decoration: none;
}

/* MyEd mobile/desktop switcher */

.standalone-frontTriple #footer div#switcher {
  padding: 0;
}

.standalone-frontTriple #footer div#switcher p {
  position: absolute;
  top: 3px;
  right: 0;
}
