/* ---------------------------------------------------------------------------------------------------------------- *
Type: Polopoly Output Template Style Sheet - Universal 2013
Version: 2.0
Support: web-comment@ed.ac.uk
Last edit: 25-07-13
/* ---------------------------------------------------------------------------------------------------------------- */

/* CONTENTS
1. Globals / Body
2. Page Header
3. Section Header
4. Sub-section / Child Header
5. Container
6. Navigation
	6.1 Global
	6.2 Utility
	6.3 Breadtrail
	6.4 Primary
	6.5 Secondary
	6.6 Related Links
		6.6.1 Article Related Links
		6.6.2 Navigation Related Links
7. Content Area
	7.1 Layouts
	7.2 Abbr & acronym
	7.3 List Styles
	7.4 Paragraph styles
	7.5 Feature box
	7.6 Event box
	7.7 Quote styles
	7.8 Heading levels
	7.9 Table styles
	7.10 Image styles
	7.11 Image captions
	7.12 Contacts
	7.13 Search
	7.14 Info Item - standard
	7.15 User generated forms
	7.16 Link styles
10. Special Page Types
	10.1 UofE Homepage
	10.2 Frontpage Articles
		10.2.1 Frontpage single
		10.2.2 Frontpage double
		10.2.3 Frontpage triple
		10.2.4 User selectable colour styles
		10.2.5 Subsite home static
		10.2.6 Subsite home dynamic
11. Floats & Clearing
12. Access
13. Article Footer & Page Footer
14. Print styles
15. Global includes + webproxy
XX. Temporary/development
*/

/* 1. Globals / Body */
/* ---------------------------------------------------------------------------------------------------------------- */
* { margin: 0; padding: 0;}
body { margin: 0; padding: 0; text-align: center; color: #000; background-image: none; background-repeat: repeat-x;}
body {font:13px/1.22 arial,helvetica,clean,sans-serif; font-size:small; background:#e6e6e6;}
table {font-size: inherit; }
pre,code,kbd,samp,tt {font-family:monospace; font-size:108%; line-height:99%;}

/* 2. Header */
/* ---------------------------------------------------------------------------------------------------------------- */
#header {background: #fff; height: 111px; border-bottom: none;}
#branding {float: left; width: 445px;margin-top:20px;}
#branding span {display: block; text-indent: -5000px; margin-left: 90px; margin-top:24px; background: url(/images/uofe-title.png) no-repeat; width: 351px; height: 25px; border: none;}
#branding img {float: left; border: none;}

/* 3. sectionHeader */
/* ---------------------------------------------------------------------------------------------------------------- */
#sectionHeader { clear: both; background: none; height: 151px; position:relative;}
.standalone-homePage #sectionHeader, .standalone-homePage2 #sectionHeader, .standalone-frontTriple #sectionHeader {width:811px}
#sectionHeader a {text-decoration: none; color: #000;}
#sectionHeader span {font-size: 167% /* 22px */; color: #25476C;}
#sectionHeader span:hover {color: #DD0031;text-decoration: underline;}
#sectionHeader span {display: block; padding: 10px 0 0 10px;}
#sectionHeader span.hideSection {display: block; text-indent: -5000px; position:absolute; left:0; bottom:0;}
#sectionHeader img {margin: 0; border: none;}
/* New subheader additions */
#linkContact {position:absolute; bottom:1px; right:0px;}
#parentTitle {position:absolute; top:0; left:0; font-size: 175%; width: 350px; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif;}
#parentTitle:hover {background: #00325F; color: white; }
a #parentTitle {background: white; color: #00325F; padding: 10px; opacity:0.75; /* filter:alpha(opacity=75); fails standard check and we don't need For IE8 and earlier */}
a:hover #parentTitle  {background: #00325F; color: white; text-decoration: none;}
span#subsectionTitle {position:absolute; bottom:0; left:0; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; width: 801px; /* height: ;*/ padding: 5px 0 4px 10px;}
a #subsectionTitle {color: white; font-size: 146.5% /*19px*/; margin-bottom:1px; background: #DE0230;}
a:hover #subsectionTitle {color: white; background: #00325F;}
#parentLogo {position:absolute; top:0; left:0;}

/* 4. sub section header */
/* ---------------------------------------------------------------------------------------------------------------- */
#contentArea .childHeader { font-size: 19px; color: #25476C; background: #00325F; padding: 5px 0 5px 10px; margin-right: -194px; margin-top:21px;font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; min-height:25px; line-height:25px;}
#contentArea .childHeader a, #contentArea .childHeader a:link, #contentArea .childHeader a:visited {color: #fff; text-decoration: none;}
#contentArea .childHeader a:hover, #contentArea .childHeader a:active{color:#fff; text-decoration: underline;}
.navOff-standard #contentArea .childHeader {margin-right: 0px;}

/* 5. container */
/* ---------------------------------------------------------------------------------------------------------------- */
#wrapper{clear:left; width: 100%;  margin: 0 auto; text-align: left; background-position:center top; background-repeat: repeat-y; }
#container { width: 811px; background: #FFFFFF;	margin: 0 auto; text-align: left; clear:left; border-left:40px solid #fff; border-right:40px solid #fff;}
.standalone-frontDouble #container, .standalone-frontTriple #container, .standalone-homePage #container, .standalone-homePage2 #container,
.standalone-standard #container, .navOff-standard #container, .standalone-frontSingle #container, .standalone-frontDouble #container, .standalone-special #container{width: 811px;}
.standalone-standard #container, .navOff-standard #container, .standalone-frontSingle #container, .standalone-frontDouble #container, .standalone-special #container { background: #fff;
}
.sub-standard #container, .sub-special #container { background: #fff}

/* 6. Navigation */
/* 6.1 Global Navigation */
/* ---------------------------------------------------------------------------------------------------------------- */
#headerContainer{float:left;width:100%;background:#333;}
#globalNavContainer{margin:0 auto; width:780px;}
#globalNav {background-color: #333; font-size: 100%;  float: left; width: 780px; text-align: left;}
#globalNav ul {list-style: none;}
#globalNav li {display: inline; float:left; padding-left: 0px; padding-right:0px; height:2.5em;}
#globalNav li a {text-decoration: none; color: #FFF; height:2.5em; line-height: 2.5em; text-align: center; padding-left: 20px; padding-right:20px;display: inline-block;}
#globalNav li.selected {border-top: none; }
#globalNav li.selected a{color: #000; background-color: #fff;}
#globalNav li a:hover {background-color: #666; border-top: none;}
#globalNav li.selected a:hover {color: #000; background-color: #fff;}
#globalNav li a:active {color: #FFF; background-color: #666; border-top: none;}

/* 6.2 Utility Area - Search/Contact */
/* ----------------------------------------------------------------------------------------------------------------*/
#utility {margin-top: 18px!important; background-color: #fff; float: right; width: 288px; text-align: center; }
#utility div {display: inline;}
#utility a {color: #25476C; font-size: 100%; font-weight: bold; }
#utility a:hover {color: #DD0031; text-decoration:underline;}
#utility form {display: inline;}
#utility #keywords {font-size: 93%; /*12px*/ margin-top: 4px;}
#utility #keywords {vertical-align: top; height: auto; width: 203px; margin-top: 0px; padding: 0; border:none;float:left;height:23px; border:1px solid #999; }
#utility * {margin-top: 0px; padding: 0px;}
#utility .utilSearch {padding-right: 5px; display: none;}
#utility .utilContact {margin-left: 8px; margin-top: 0;}
form.globalSearch {float:left;}
#linkSchoolsDepts{padding-left:17px; display:inline-block; background:url(images/sprites.png) left -500px; float:left; margin-bottom:10px; text-decoration:none; color:#00325F}
form.globalSearch input[type="submit"]
{border:none; padding:0; margin:0px; vertical-align: middle; float: left;
background:#333 url(images/uoe-sprites.gif) left 0px no-repeat;
text-indent:-9000px; text-transform:uppercase; /* IE workaround to hide button text */
width:82px; height:25px;}


/* 6.3 Bread Trail */
/* ---------------------------------------------------------------------------------------------------------------- */
#breadTrail {background-color: #FFF; margin-left:185px; margin-bottom:10px;}
#breadTrail ul {list-style: none; padding: 8px 0 8px 0px; font-size: 100%; /*12px*/ display: list-item; border-bottom: 1px solid #ccc;}
.navOff-standard #breadTrail ul{ border-bottom: none}
#breadTrail li {display: inline; padding: 0; background:none;}
#breadTrail li.breadHome{padding-left:0;}
#breadTrail li.urHere {background: none; color: #4D4D4D; font-weight:bold;}
#breadTrail a {background:url(images/crumbdivider.png) right no-repeat; padding-right:14px; display:inline-block;}
#breadTrail a:link {color: #4D4D4D; text-decoration:none;}
#breadTrail a:visited {color: #4D4D4D;}
#breadTrail a:hover {color:#DD0031; text-decoration:underline;}
#breadTrail a:active {text-decoration: none; color: #999;}
#breadTrail li.breadThis {background: none; font-weight:bold;}

/* 6.4 Primary Navigation */
/* ---------------------------------------------------------------------------------------------------------------- */
#primaryNav { clear: both; width: 175px; float: left;}
#primaryNav ul, #secondaryNav ul { margin-left: 0px; background-color: #FFF;}
#primaryNav li, #secondaryNav li { list-style: none; line-height: 1.4em; font-size: 108%; /* 14px */ border-bottom: #E3D9DD 1px solid; border-left: none; border-right: none; padding: 0px; color: #430019;}
#primaryNav a, #secondaryNav a { display: block; padding: 7px 0 7px 7px; border-left: #fff 5px solid;}
#primaryNav a:link, #secondaryNav a:link { text-decoration: none; color: #333; display: block; }
#primaryNav a:visited, #secondaryNav a:visited { text-decoration: none; color: #333;}
#primaryNav a:hover, #secondaryNav a:hover { text-decoration: none; color: #00325f;}
#primaryNav a:active, #secondaryNav a:active { text-decoration: none; color: #4A0000;}
#primaryNav li:hover, #secondaryNav li:hover { border-left: none; background-color: #fff;}
#primaryNav li:active, #secondaryNav li:active { border-left: none; background-color: #eee;}
#primaryNav .urHere, #secondaryNav .urHere { background-color: #fff; border-left: none;}
#secondaryNav .urHere {border-left: none}
#primaryNav .urHere a{color:#00325f; font-weight:bold; border-left: #DD0031 5px solid;}
#primaryNav a:hover{border-left: #DD0031 5px solid;}
#secondaryNav .urHere a{color:#00325f; font-weight:bold; border-left: #00325f 5px solid;}
#secondaryNav a:hover{border-left: #00325f 5px solid;}
/* ---------------------------------------------------------------------------------------------------------------- */

/* 6.5 Secondary Navigation */
/* ---------------------------------------------------------------------------------------------------------------- */
#secondaryNav {	clear: right; float: right; width: 175px; margin-top: 61px;}
#secondaryNav .navTitle { border-left: #25476C 5px solid; background: #EAEFF5; padding-left: 5px; line-height: 1.5em; font-size: 108%; /* 14px*/}

/* 6.6 Related Links */
/* ---------------------------------------------------------------------------------------------------------------- */
/* 6.6.1 Article Related Links */
#contentArea .relatedHeader {display: inline-block; width: 385px; background-color: #fff; border: none; border-top:2px solid #999; border-bottom:1px solid #999; margin: 1.5em 0 0 0; padding: 6px 10px 6px 12px; color: #666; font-weight: bold; font-size: 108%; /*14px*/}
#contentArea .relatedLinks { margin: 0.25em 0 0 0; border: none; width: 405px;}
#contentArea .relatedLinks ul {padding: 0px; background-color: #fff; width: 100%;}
#contentArea .relatedLinks a { display: block; text-decoration: none; color:#00325F; padding: 5px 0 5px 0px;}
#contentArea .relatedLinks a:hover {text-decoration: underline; color:#DD0031;}
#contentArea .relatedLinks li {list-style: none; margin: 0; padding: 0; border-bottom: #999 1px solid; }
.standalone-standard #contentArea .relatedHeader, .navOff-standard #contentArea div.relatedHeader {width: 555px;}
.standalone-standard #contentArea .relatedLinks, .navOff-standard #contentArea .relatedLinks {width: 575px;}

/* 6.6.2 Navigation Related Links */
#primaryNav .relatedLinks, #secondaryNav .relatedLinks {margin: 0 5px; border-top:1px solid #E3D9DD }
#primaryNav .relatedLinks, #secondaryNav .relatedLinks a {color: #666; font-size: 93%;}
#secondaryNav .relatedLinks a:hover {color: #00325F; }
#primaryNav .relatedHeader, #secondaryNav .relatedHeader {color: #003; font-weight: bold; font-size: 108%; /*14px*/ padding: 7px 0 7px 10px; margin: 4em 5px 0 5px; background-color: #fff;}
#primaryNav .relatedHeader{border-top: 2px solid #DD0031}
#secondaryNav .relatedHeader{border-top: 2px solid #00325F}

/* 7. Content Area Layouts */
/* ---------------------------------------------------------------------------------------------------------------- */
#contentArea{background-color:#fff;}
.standalone-standard #contentArea, .standalone-special #contentArea, .navOff-standard #contentArea, .standalone-frontSingle #contentArea, .standalone-frontDouble #contentArea { margin: 0 0 0 175px; padding: 5px 10px; }
.sub-standard #contentArea, .sub-special #contentArea { margin: 0 175px 0 175px; padding: 5px 19px 0 22px;}

/* 7.1 Content Area Elements */
/* 7.2 Abbr & acronym */
#contentArea abbr, #contentArea acronym {cursor: help;}

/* IE & FF style sync */ /* Come back to this */
#contentArea abbr, #contentArea acronym { border-bottom: 1px dotted #000000;}
#contentArea abbr.dtstart, #contentArea abbr.dtend { border-bottom: none; cursor: default;}
#contentArea a abbr, #contentArea a acronym { border-bottom: none; cursor: default;}

/* 7.3 */
#contentArea ul {padding: 0 0 0 15px; list-style: disc;}
#contentArea ol {padding: 0 0 0 20px; }
#contentArea ul li, #contentArea ol li {padding: 3px 0px 5px 3px; }
#contentArea li.stripeOn {background-color: #edf1f4;}
#contentArea ul a:hover, #contentArea ol a:hover {}
#contentArea ul ul {padding: 0 0 0 10px; list-style: disc;}
#contentArea ul ul ul {padding: 0 0 0 10px; list-style: disc;}
#contentArea ul ul ul ul {padding: 0 0 0 10px; list-style-image:url(/images/list-bullet1.gif)}

/* Standard Definition List */
#contentArea dl {padding: 0; margin: 0;}
#contentArea dt {padding: 0; margin: 0.25em 0 0 0; font-size: 108%; font-weight: bold;}
#contentArea dl.dlStandard dd {padding: 0 0 5px 14px; background: url(/images/list-bullet1.gif) no-repeat 0 .2em}
.standalone-standard #contentArea dl{width:616px}
.sub-standard #contentArea dl{width:420px}

/* Boxed Definition List */
#contentArea dl.dlBoxed {margin: 1em auto; padding: 0; width: 75%;}
#contentArea dl.dlBoxed dt {background-color: #25476C; color: #FFF; padding: .5em; font-weight: bold; text-align: center; border-left: 1px solid #131210; border-right: 1px solid #131210; border-top: 1px solid #131210; margin: 1em 0 0 0;}
#contentArea dl.dlBoxed dd {background: #E8E8E8; text-align: center; padding: .5em; border-left: 1px solid #131210; border-right: 1px solid #131210; border-bottom: 1px solid #131210;}
.standalone-standard #contentArea dl.dlBoxed{width:420px;}
.sub-standard #contentArea dl.dlHorizontal1 {width: 410px;}

/* Horizontal 1 Definition List */
#contentArea dl.dlHorizontal1 {margin: 1em 0 2em 0; padding: 0; border-bottom: 1px solid #666; display: inline-block;}
#contentArea dl.dlHorizontal1 dt {clear: both; float: left; width: 40%; padding: 5px 0; margin: 0; border-top: 1px solid #666;}
#contentArea dl.dlHorizontal1 dd {float: right; width: 60%; margin: 0; padding: 5px 0; border-top: 1px solid #666; font-size: 108%;}
/* .sub-standard #contentArea dl.dlHorizontal1 {width: 410px;}
.sub-standard #contentArea dl.dlHorizontal1 dt {width: 140px;}
.sub-standard #contentArea dl.dlHorizontal1 dd {width: 240px;} */

/* Horizontal 2 Definition List*/
#contentArea dl.dlHorizontal2 {width: 100%; margin: 1em 0 2em 0; padding: 5px 0 0 0; background: #f5f5f5; border-top: 10px solid #999; display: inline-block;}
#contentArea dl.dlHorizontal2 dt {display: inline-block; width: 35%; margin: 0 0 10px 0; padding: 5px 0px 5px 5px; vertical-align:top;}
#contentArea dl.dlHorizontal2 dd {float: right; display: inline-block; width: 60%; margin: 0 0 10px 0; padding: 5px; font-size: 108%; border-left: 1px solid #4d4d4d; vertical-align:top;}
.standalone-standard #contentArea dl.dlHorizontal2 {}
/* .sub-standard #contentArea dl.dlHorizontal2 {width: 100%}
.sub-standard #contentArea dl.dlHorizontal2 dt {width: 40%}
.sub-standard #contentArea dl.dlHorizontal2 dd {width: 60%} */

/* 7.4 Paragraph styles */
#contentArea p {font-size: 100%; /*13px*/ padding-bottom: 0.7em; padding-top: 0.2em;}
#contentArea p.standFirst {font-weight: bold; color: #333; font-size:15px;}
#contentArea q.fckquote {quotes: "" "";}
#contentArea q.fckquote:before, q.fckquote:after {content: ""; content: none;}
#contentArea cite {padding: 0 2px;}
#contentArea cite[title] {border-bottom: 1px dotted grey;}
#contentArea p.footnote {margin: 15px 10px 0px 10px; border-top: 1px solid #ccc; color: #565656; font-size: 93%;}

/* 7.5 Feature box */
#contentArea div.feature {border: none; border-left:10px solid #999; font-weight: bold; color:#4d4d4d; background: #f5f5f5; padding: 5px 10px; margin: 0.5em 0; overflow: auto;}
.standalone-standard #contentArea div.feature{width:586px;}
.sub-standard #contentArea div.feature{width:390px;}
#contentArea div.feature h4 {font-size: 153.9%; padding: 0 0 0.25em 0; font-weight:bold;}
#contentArea div.feature ul {border: none; padding: 0; margin:0;}
#contentArea div.feature ul li {list-style: none;}
#contentArea div.feature a {padding-left:12px; text-decoration:none; background:url(images/sprites.png) left -1498px no-repeat; }
#contentArea div.feature ul li a{padding-left:0px; text-decoration:none; background:none }
#contentArea div.feature a:hover {text-decoration:underline;}
#contentArea div.feature img {float: left; padding: 0 10px 0 0; margin: 0;}
#contentArea div.feature p {padding: 0 0 5px 0px; margin: 0px;}

/* 7.6 Event box */
#contentArea .vevent { border: none; color: #4d4d4d; background-color: #edf1f4; padding: 3px 10px; margin: 0.25em 0 0.5em 0; width: 400px; display: inline-block;}
.standalone-standard #contentArea .vevent{width:596px;}
#contentArea .vevent .summary { display: block; background-color: #00325F; color: #FFF; font-size: 19px; font-weight: bold; padding: 5px 10px; margin-bottom: 5px; margin-right:-10px; margin-left:-10px;}
#contentArea .vevent a.url .summary {text-decoration: none;}
#contentArea .vevent span.location { display: block; padding-top: 3px; font-style: italic;}
#contentArea .vevent a.map, #contentArea .vevent a.linktype { padding-left: 15px; background-image: url(/images/external.gif); background-position: left; background-repeat: no-repeat;}
#contentArea .vevent a:hover {color: #DD0031;}
#contentArea .vevent a:hover span.summary  {color: #fff; text-decoration: underline;}
#contentArea div.vevent div { padding: 5px 0;}
.vevent p, .vcard { padding-left: 1em; border-bottom: #F2F9FF thin solid;}

/* 7.7 Quote styles */
#contentArea .fullQuote {background:url(images/sprites.png) left 13px no-repeat; background-color: #fff; margin: 1em 0; padding: 3px 10px 10px 30px ; font-size: 108%; /*14px*/ border-left: none; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.sub-standard #contentArea .fullQuote{width:380px;}
.standalone-standard #contentArea .fullQuote{width:576px;}
#contentArea .pullQuote {background:url(images/sprites.png) left 13px no-repeat; background-color: #fff; width: 135px; margin: 0.5em 0 0.5em 0.5em; padding: 3px 0 10px 30px; border-left: none; float: right; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
#contentArea p.quoteText {color:#00325F; font-size:15px; padding-top:0.4em;}
#contentArea p.quoteAuthor {margin-top: -0.5em; font-weight: bold; color:#4d4d4d;}
#contentArea p.quotePosition {margin-top: -1em; font-size: 85%; /* 11px*/ font-weight: bold; font-style: normal; color: #666;}

/* 7.8 Heading levels */
#contentArea h1 {padding-top:1em; padding-bottom: 0.2em; font-size: 25px; color: #00325F; width: 100%; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif}
#contentArea h2 {padding-top: 0.8em; padding-bottom: 0.2em; font-size: 21px; color: #000; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif}
#contentArea h3 {padding-top: 0.8em; padding-bottom: 0.2em; font-size: 20px; color: #000; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; font-weight:normal;}
#contentArea h4 {padding-top: 0.8em; padding-bottom: 0.2em; font-size: 18px; color: #000; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; font-weight:normal;}
#contentArea h5 {padding-top: 0.8em; padding-bottom: 0.2em; font-size: 16px; color: #000; font-weight: bold; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; font-weight:normal;}
#contentArea h6 {padding-top: 0.8em; padding-bottom: 0.2em; font-size: 14px; color: #000; font-style: normal; font-weight:bold; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; font-weight:normal;}

/* 7.9 Table styles */
#contentArea table { border-collapse: collapse; border: #ccc 1px solid; margin-bottom: 1em; }
#contentArea caption { font-size: 108%; /*14px*/ margin: 1em 0 0.5em 0; font-weight: bold;}
#contentArea th { font-size: 93%; /*12px*/ padding: 5px; background-color: #00325F; color: #fff; border:1px solid #ccc;}
#contentArea td { font-size: 93%; /*12px*/ padding: 0.3em; border:1px solid #ccc;}
#contentArea tr { vertical-align: top;}
#contentArea tr.stripeOn { background-color: #edf1f4;}

.sub-standard #contentArea table{width:420px;}

/* 7.10 Image styles */
.standalone-standard #contentArea img {float: left; margin: 0.5em 0.5em 0.5em 0;}
.sub-standard #contentArea img {float: left; margin: 8px 0px 0px 0;}
.standalone-standard #contentArea img.imageBig {float: none; display: block; margin: 0.5em auto;}
.sub-standard #contentArea img.imageBig {float: none; display: block; margin: 0.5em auto;}
#contentArea img.imageMedium {float: right; margin: 0.5em 0 0.5em 0.5em;}
.navOff-standard #contentArea div.imageBig {float: none; display: block; margin: 0.5em auto;}
.navOff-standard #contentArea div.imageBig img {display: block; margin: 0 auto; padding: 0;}
.navOff-standard #contentArea img.imageBig {display: block; margin: 0.5em auto;}

/* 7.11 Image captions */
#contentArea .caption img {float: none; margin: 0px; padding: 0.5em 0 0 0;}
#contentArea .caption {/* float: right;*/ margin: 0.5em 0 0.5em 0.5em;}
#contentArea .caption p {margin-top: 0.5em; padding: 10px; background-color: #f5f5f5; }
#contentArea .caption.imageMedium {float: right; font-size: 85%; /* 11px */ width: 150px;}
#contentArea .caption.imageBig p {font-size: 85%;  /* 11px */ padding: 10px; margin-bottom: 1em; margin-top:0;}
.standalone-standard #contentArea .caption.imageBig {float: none; margin: 0; padding: 0;}
.sub-standard #contentArea .caption.imageBig {margin: 0 5px; padding: 0;}
.navOff-standard #contentArea p.imageBig {display: block; width: 380px; margin: 0 auto;}

/* 7.12 Contacts output */
#contentArea div.vcard {background-color: #f5f5f5; padding: 10px; border-top: #999 10px solid; margin: 0.5em 0; float: none; width: 395px; display: inline-block;}
#contentArea div.vcard img.photo {float: right; padding: 0px; margin: 0; border: #CCC 1px solid;}
#contentArea div.vcard ul {list-style: none; margin: 0; padding: 0 0 0 0em ;text-indent: -1em;}
#contentArea div.vcard ul.adr {margin-bottom: 1em;}
#contentArea div.vcard ul li {padding: 0; margin: 0 0 0.1em 0;}
#contentArea div.vcard ul li.fn, #contentArea div.vcard ul li.organization-unit {font-weight: bold; font-size: 123.1%;}
#contentArea div.vcard ul li.title {margin: 0 0 0.5em 0;}
#contentArea div.vcard ul li.org span {display: block;}
#contentArea div.vcard span.type, #contentArea div.vcard span.typelabel {font-weight: bold;}
#contentArea div.vcard dl {padding: 0; margin: 0.5em 0 0 0.2em;}
#contentArea div.vcard dl dt {float: left; font-size: 100%; padding: 0; margin: 0;}
#contentArea div.vcard dl dd {margin: 0 0 2px 3.5em; padding: 0;}
#contentArea .contactsTable th {background-color: #666;}
#contentArea .contactsTable th, #contentArea .contactsTable th a, #contentArea .contactsTablesortable th a {color: #fff; text-decoration: none; font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; font-size: 110%}
#contentArea .contactsTable th a:hover, #contentArea .contactsTablesortable th a:hover {border-bottom: 1px dotted white;}
#contentArea .contactsTable {border: #666 1px solid; table-layout: auto;}
#contentArea .contactsTable tr {border: #666 1px dotted;}
#contentArea .contactsTable tr.stripeOn {background-color: #ECECEC;}
#contentArea .contactsTable a.sortheader img, #contentArea .contactsTablesortable a.sortheader img {border: 1px solid #333; background: #000; padding: 3px 5px; margin: 0 3px 0 0;}
#contentArea .contactsTable a.sortheader {text-decoration: none;}
#contentArea .contactsTable.striped .odd {background-color: #ECECEC;}
#contentArea .contactsTable.striped .even {background-color: #fff;}
.vcard a:hover {color: #DD0031;}

/* Migration code*/
#contentArea div.vcard span.organization-unit {font-weight: bold;}
div.vcard .fn {display:block; font-weight: bold; font-size: 123.1%; color: #000;}
div.vcard .title, div.vcard .org {display: block;}
div.vcard .title {font-style: italic;}
div.vcard .adr {display: block; margin: 0.5em 0;}
div.vcard .url {margin-top: 0.5em;}
div.vcard .org {margin-bottom: 0.5em;}

/* 7.13 Search - Google CSE */
#contentArea #cse-search-box, #contentArea #staff-search {margin: 1em 0; background-color: #f2f2f2; padding: 10px; width: 380px; border: #ccc 1px solid;}
#contentArea #cse-search-box input.googleSearchInput, #contentArea #staff-search input.staffSearchInput {width: 280px; margin-right: 15px;}
#contentArea #staff-search .staffSearchLabel, #contentArea #cse-search-box .googleSearchLabel {font-size: 138.5%; color: #09F;}

/* 7.14 Info Item - standard */
.standalone-standard div.infoItem, .sub-standard div.infoItem { background: #F2F2F2; float: left; border-top:10px solid #999;}
.standalone-standard div.infoItem.hi, .sub-standard div.infoItem.hi { background: #EDF1F4; border-top:10px solid #00325F;}
.standalone-standard div.infoItem.med, .sub-standard div.infoItem.med { background: #F2F2F2;}
.standalone-standard div.infoItem.lo, .sub-standard div.infoItem.lo { background: #F2F2F2;}
.navOff-standard .infoItem img, .standalone-standard .infoItem img, .sub-standard .infoItem img { float: left; border: none; padding: 0 8px 8px 8px;}
.navOff-standard .infoItem img { float: left; border: none; padding: 5px 7px 5px 5px;}
.navOff-standard .infoItem p, .standalone-standard .infoItem p, .sub-standard .infoItem p { padding: 0 10px;}
.navOff-standard #contentArea .infoItem h4, .standalone-standard #contentArea .infoItem h4, .sub-standard #contentArea .infoItem h4 { padding-left: 10px; font-size: 19px; font-weight:bold; padding-top:0.2em;}
.navOff-standard .infoItem h4 a, .standalone-standard .infoItem h4 a, .sub-standard .infoItem h4 a { text-decoration: none; color: #00325F; }
.navOff-standard #contentArea .infoItem h4 a, .standalone-standard #contentArea .infoItem h4 a, .sub-standard #contentArea .infoItem h4 a { text-decoration: none; color: #4d4d4d; }
.navOff-standard #contentArea .infoItem h4 a:link, .standalone-standard #contentArea .infoItem h4 a:link, .sub-standard #contentArea .infoItem h4 a:link { color: #4d4d4d; /* No visited style on headings */}
.navOff-standard #contentArea .infoItem h4 a:visited, .standalone-standard #contentArea .infoItem h4 a:visited, .sub-standard #contentArea .infoItem h4 a:visited { text-decoration: none; color: #4d4d4d; /* No visited style on headings */}
.navOff-standard #contentArea .infoItem h4 a:hover, .standalone-standard #contentArea .infoItem h4 a:hover, .sub-standard #contentArea .infoItem h4 a:hover {text-decoration:underline; }
.navOff-standard #contentArea .infoItem.hi h4 a, .standalone-standard #contentArea .infoItem.hi h4 a, .sub-standard #contentArea .infoItem.hi h4 a { color: #00325F; }
.navOff-standard .infoItem p a, .standalone-standard .infoItem p a, .sub-standard .infoItem p a { float: none; padding: 0 5px 5px 0; text-decoration:none; display:inline-block; padding-left:12px;	background:url(images/sprites.png) left -1498px no-repeat; color:#00325F; font-weight:bold;}
.navOff-standard .infoItem p a:hover, .standalone-standard .infoItem p a:hover, .sub-standard .infoItem p a:hover {}
.sub-standard .infoItem { width: 420px; margin: 5px 0px 20px 0px;}
.standalone-standard .infoItem{ width: 616px; margin: 5px 0px 20px 0px;}
.navOff-standard div.infoItem {background: #f5f5f5; float: none; display:inline-block; width: 282px; margin: 5px 10px 5px 10px; vertical-align: top; border-top:10px solid #999;}
.navOff-standard div.infoItem.hi {background: #f5f5f5; border-top:10px solid #00325F;}
.navOff-standard div.infoItem:first-child {margin-left:0px;}
*+html .navOff-standard div.infoItem {display: inline;}

/* 7.15 User generated forms */
.js .formBuilder .formField .hideableHelpText,.js .formBuilder .autoSelectValue {display: none;}/* Avoid flicker when showing/hiding divs */
#contentArea .formBuilder .screenreader_only {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
#contentArea form.formBuilder {}
#contentArea .formBuilder fieldset {border: 0 none; margin: 0px; padding: 0px;}
#contentArea .formBuilder fieldset fieldset {border: 1px solid #ccc; padding: 5px 10px 5px; margin:15px 0}
#contentArea .formBuilder fieldset legend {padding: 0 5px 0px 5px; font-size: 19px; color: #000; }
#contentArea .formBuilder fieldset fieldset legend {}
#contentArea .formBuilder .formError {color: #900; padding: 0.5em 0.5em 0.5em 23px; margin: 1em 0.5em; border: 1px solid #DD0031; background: #F5E5E5 url(/images/icon-cross-small.png) left no-repeat;}
#contentArea .formBuilder .formField .errors {color: #900; display: block;}
#contentArea .formBuilder .formField .errors .error {border: 1px solid #DD0031; background: #F5E5E5 url(/images/icon-cross-small.png) left no-repeat; padding: 5px 5px 5px 23px; display: inline-block; margin: 5px 0;}
div.errors + div.field input,div.errors + div.field textarea {border: 2px solid #DD0031;}
#contentArea .formBuilder .formField .justright label {width: 110px; float: left; text-align: right; margin-right: 0.5em; display: block;}
#contentArea .formBuilder .formField .justleft label {width: 110px; float: left; text-align: left; margin-right: 0.5em; display: block;}
#contentArea .formBuilder .formField .labelabove label {float: none;text-align: left;margin-right: 0.5em;margin-bottom: 0.2em;display: block;}
#contentArea .formBuilder .formField .selectalign input {float: left; display: block;}
#contentArea .formBuilder .formField .selectalign label {margin-left: 5%;display: block;}
#contentArea .formBuilder .required {color:#DD0031; font-size: 19px;}
#contentArea .formBuilder .formField .justright .errors, #contentArea .formBuilder .formField .justleft .errors, #contentArea .formBuilder .formField .justright .formFieldHelp, #contentArea .formBuilder .formField .justleft .formFieldHelp, #contentArea .formBuilder .formField .justright .field, .justleft .field {padding-left: 115px;}
#contentArea .formBuilder .formField .justright .field .selectother, #contentArea .formBuilder .formField .justleft .field .selectother {padding-left: 0px;}
#contentArea .formBuilder .formField.noerrors .justright.datefield .helphidden input, #contentArea .formBuilder .formField.noerrors .justleft.datefield .helphidden input, #contentArea .formBuilder .formField.noerrors.nohelp .justright.datefield input, #contentArea .formBuilder .formField.noerrors.nohelp .justleft.datefield input  {margin-top: 1.4em;}
#contentArea .formBuilder .formField .formFieldHelp p {padding: 0.2em 0;}
#contentArea .formBuilder .formField .formFieldHelp.hideableHelpText p {border: 1px solid #438EDB; background: #ECF3FB; padding:5px; margin-bottom: 5px}
#contentArea .formBuilder .formField {text-align:left;margin-bottom:0.5em;}
#contentArea .formBuilder .formField input:focus, #contentArea .formBuilder .formField select:focus, #contentArea .formBuilder .formField textarea:focus,#contentArea .formBuilder .recaptcha_input_area input:focus { }
#contentArea .formBuilder .formField.nohelp label {margin-top: 0.2em;}
#contentArea .formBuilder .formField div.selectother {margin-top: 0.5em;}
#contentArea .formBuilder .formField a.toggleShowHideHelp, a.toggleShowHideHelp:link {cursor: help;}
#contentArea .formBuilder .formField img.helpTextIcon {border-style:none; padding: 0.1em 0.1em 0 0.3em; margin: 0px; float:none;}
#contentArea .formBuilder .formField.recaptcha_hidden {display: none;}
#contentArea .formBuilder #recaptcha_area table, #contentArea .formBuilder #recaptcha_area img {border: none;}
#contentArea .formBuilder #recaptcha_area {background: #FFF; padding: 0; margin: 0;}
#contentArea .formBuilder .recaptcha_image_cell .recaptcha_image_holder {border: 1px solid grey; height: 65px;}
#contentArea .formBuilder .recaptcha_input_cell #recaptcha_response_field {width: 297px;}
#contentArea .formBuilder #recaptcha_area .recaptcha_audio_cant_hear_link {font-size: 153.9%; padding-left: 10px;}
#contentArea .formBuilder input[type="text"]{border:1px solid #999; height:23px;}
#contentArea .selectalign{margin-bottom:6px;}
#contentArea .formBuilder input[type="submit"]{border:none; background:#333; color:#fff; padding:5px 10px;font-family:'lucida grande', 'tahoma', arial, helvetica, sans-serif; }
#contentArea .formBuilder input[type="submit"]:hover{background:#666;}

/* 7.16 Link styles */
#contentArea a:link{color:#00325F}
#contentArea a:visited{color:#662D91}
#contentArea a:hover{color:#DD0031; text-decoration:underline;}
#contentArea a:active{color:#DD0031}

/* 10 Page Types */
/* ---------------------------------------------------------------------------------------------------------------- */
/* 10.1 UofE Homepage - article specific style sheet */
/* 10.2 Frontpage common elements */
.infoItem img {border: none; }
.infoItem h4 a:hover {text-decoration: underline; color: #DD0031;}
.promoTwo, .promoThree {overflow: hidden; }
.promoOne a, .promoTwo a, .promoThree a {color: #00325F; font-weight: bold; }
.promoOne p a, .promoTwo p a, .promoThree p a {display:inline-block; padding-left:12px;	background:url(images/sprites.png) left -1498px no-repeat; text-decoration:none}
.promoOne a:hover, .promoTwo a:hover, .promoThree a:hover {color: #DD0031; text-decoration:underline;}
.promoOne p, .promoOne h4, .promoOne p, .promoOne h4, .promoTwo p, .promoTwo h4, .promoTwo p, .promoTwo h4, .promoThree p, .promoThree h4 {padding: 0.5em 10px; color: #4d4d4d;}
.promoOne h4 a, .promoTwo h4 a, .promoThree h4 a {color: #DD0031; font-size: 17px; text-decoration: none;}
.promoOne.hi h4 a, .promoTwo.hi h4 a, .promoThree.hi h4 a{color: #DD0031;}
.promoOne.med h4 a, .promoTwo.med h4 a, .promoThree.med h4 a{color: #00325F;}
.promoSmall {overflow: hidden; padding-top: 40px;}
#contentArea .promoSmall h4 {padding-top: 3px;}
#contentArea .promoSmall h4 a, #contentArea .promoSmall h4 a:link {color: #00325F; font-size: 100%; /*13px*/ text-decoration: none; padding: 0; margin: 0;} /* default */
#contentArea  .promoSmall .hi h4 a {color: #DD0031; }
#contentArea  .promoSmall .med h4 a {color: #00325F; }
#contentArea  .promoSmall .lo h4 a {color: #4d4d4d; }
#contentArea .promoSmall h4 a:hover {text-decoration: underline; color: #DD0031;}
.promoSmall a {color: #00325F;}
.promoSmall .infoItem {background: #fff; float: left; padding-bottom: 300px; margin-bottom: -300px; }
.promoSmall .infoItem img {border: none; padding-right: 0.5em; float: left;}
.promoSmall .infoItem p a {float: none; font-weight: bold; display:inline-block; padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat;}
#contentArea .promoSmall .infoItem p {padding: 2px 5px 0 0; margin: 0 5px 0 10px;}

/* 10.2.1 Frontpage single */
.standalone-frontSingle .promoOne .infoItem { background-color: #36A7E9; width: 580px; float: left;}
.standalone-frontSingle .promoSmall .infoItem { width: 287px; margin-right: 5px;}

/* 10.2.2 Frontpage double */
.standalone-frontDouble .promoTwo .infoItem {width: 282px; float: left; margin-right: 5px; padding-bottom: 300px; margin-bottom: -300px;}
.standalone-frontDouble .promoTwo .infoItem {background: #EDF1F4; border-top:10px solid #00325F; border-left: 2px solid #00325F; /* default */}
.standalone-frontDouble .promoTwo .infoItem.hi{ background: #f0eae6; border-top:10px solid #DD0031; border-left: 2px solid #DD0031;}
.standalone-frontDouble .promoTwo .infoItem.med { background: #EDF1F4; border-top:10px solid #00325F; border-left: 2px solid #00325F;}
.standalone-frontDouble .promoTwo .infoItem.lo { background: #F2F2F2; border-top:10px solid #999; border-left: 2px solid #999;}
.standalone-frontDouble .promoSmall .infoItem { width: 282px; margin-right: 5px;}
.standalone-frontDouble #contentArea .promoTwo .infoItem h4 {color: #4d4d4d; font-size: 123.1%; /* 16px */}
.standalone-frontDouble #contentArea .promoTwo .infoItem h4 a {font-size: 100%; color:#00325F /* default */}
.standalone-frontDouble #contentArea .promoTwo .infoItem.hi h4 a {color:#DD0031}
.standalone-frontDouble #contentArea .promoTwo .infoItem.med h4 a {color:#00325F}
.standalone-frontDouble #contentArea .promoTwo .infoItem.lo h4 a {color:#4d4d4d}
.standalone-frontDouble #contentArea .promoTwo .infoItem h4 a {font-size: 100%;}
.standalone-frontDouble .promoSmall .infoItem{  background: #F2F2F2; border-top:10px solid #999; /* default */}
.standalone-frontDouble .promoSmall .infoItem.hi{ background: #f0eae6; border-top:10px solid #DD0031;}
.standalone-frontDouble .promoSmall .infoItem.med { background: #EDF1F4; border-top:10px solid #00325F;}
.standalone-frontDouble .promoSmall .infoItem.lo { background: #F2F2F2; border-top:10px solid #999;}
.standalone-frontDouble #contentArea .promoSmall .infoItem h4 {color: #4d4d4d;}
.standalone-frontDouble #contentArea .promoSmall .infoItem h4 a {font-size: 100%; color:#4d4d4d}
.standalone-frontDouble #contentArea .promoSmall .infoItem.hi h4 a {color:#DD0031}
.standalone-frontDouble #contentArea .promoSmall .infoItem.med h4 a {color:#00325F}
.standalone-frontDouble #contentArea .promoSmall .infoItem.lo h4 a {color:#4d4d4d}
.standalone-frontDouble #contentArea .promoTwo ul.bulleted {padding: 0 5px 1em 0px;}
.standalone-frontDouble #contentArea .promoTwo ul.bulleted li {color: #4d4d4d; list-style: none; padding-left:10px;}
.standalone-frontDouble #contentArea .promoTwo ul.bulleted li a {color: #00325F;}
.standalone-frontDouble #contentArea .promoTwo ul.bulleted li a:hover {color: #DD0031;}
.standalone-frontDouble #contentArea .promoTwo ul.inLine {color: #000; padding: 0 5px 1em 10px;}
.standalone-frontDouble #contentArea .promoTwo ul.inLine li, .standalone-frontDouble #contentArea .promoTwo ul.inLine li a {color: #00325F}
.standalone-frontDouble #contentArea .promoTwo ul.inLine li a:hover {color: #DD0031;}
.standalone-frontDouble #contentArea .promoSmall ul.bulleted {padding: 0 0.5em 1em 0.5em;}
.standalone-frontDouble #contentArea .promoSmall ul.inLine {padding: 0 0.5em;}
.standalone-frontDouble #contentArea .promoSmall h4 {padding: 0.5em 0.25em 0.25em 0; margin: 0 0 0 0; font-weight:bold;}/* heading moved so left-margin removed */
#contentArea ul.inLine {padding: 0 5px 1em 5px;}
#contentArea ul.inLine li {display: inline; color: #000; padding: 0 0.5em 0 0; line-height: 1.5em;}
#contentArea ul.inLine li a {color: #00325F; font-weight: normal;}
#contentArea ul.inLine li a:hover {color: #DD0031;}
#contentArea ul.inline {padding: 0 0 1em 5px;}
#contentArea ul.inline li {display: inline; color: #000; padding: 0 0.5em 0 0; line-height: 1.5em;}
#contentArea ul.bulleted {padding: 0 0 1em 10px; margin: 0;}
#contentArea ul.bulleted li {padding: 0; margin:0; list-style: none; line-height: 1.5em; }
#contentArea ul.bulleted li a {color: #00325F; font-weight:normal; display:inline-block; padding-left:12px;background:url(images/sprites.png) left -1498px no-repeat;text-decoration:none}
#contentArea ul.bulleted li a:hover {color: #DD0031; text-decoration:underline;}
#contentArea .promoSmall ul.inLine, .standalone-frontTriple #contentArea .promoSmall ul.inLine {padding: 5px 5px 20px 5px;}
#contentArea .promoSmall ul.inLine li, .standalone-frontTriple #contentArea .promoSmall ul.inLine li {display: inline; color: #000; padding-right: 0.25em;}

/* 10.2.3 Frontpage triple */
.standalone-frontTriple #breadTrail ul { padding: 5px 0 5px 0; border-bottom:1px solid #ccc;}
.standalone-frontTriple #breadTrail{margin-left:0; }
.standalone-frontTriple .promoThree { overflow: hidden; }

.standalone-frontTriple .promoThree .infoItem { background: #fff; width: 255px; float: left; margin-left:20px; padding-bottom: 300px; margin-bottom: -300px;border-color:#DD0031; border-left:2px solid #DD0031 /* default for top row */}
.standalone-frontTriple .promoThree .infoItem:first-child{margin-left: 0px;}
.standalone-frontTriple .promoThree .infoItem.med {border-color:#00325F;}
.standalone-frontTriple .promoThree .infoItem.lo {border-color:#999;}
.standalone-frontTriple #contentArea .promoThree h4 {color: #DD0031; font-size: 131%; font-weight: bold;}
.standalone-frontTriple #contentArea .promoThree h4 a {color:#DD0031 /* default - should be top row only */}
.standalone-frontTriple #contentArea .promoThree .hi h4 a{color: #DD0031}
.standalone-frontTriple #contentArea .promoThree .med h4 a{color: #00325F}
.standalone-frontTriple #contentArea .promoThree .lo h4 a{color: #4d4d4d}
.standalone-frontTriple .promoSmall .infoItem { width: 257px; margin-left:20px; background:#EDF1F4; border-top:10px solid #00325F /* default=med */}
.standalone-frontTriple .promoSmall .infoItem:first-child{margin-left:0px;}
.standalone-frontTriple .promoSmall .infoItem.hi { background:#f0eae6; border-top:10px solid #DD0031}
.standalone-frontTriple .promoSmall .infoItem.med { background:#edf1f4; border-top:10px solid #00325F}
.standalone-frontTriple .promoSmall .infoItem.lo { background:#f5f5f5; border-top:10px solid #999}
.standalone-frontTriple .infoItem p a {padding-bottom: 5px; display:inline-block; padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat; text-decoration:none;}
.standalone-frontTriple #contentArea .promoThree ul.inLine {padding: 0 5px 20px 10px;}
.standalone-frontTriple #contentArea .promoThree ul.inLine li {display: inline; color: #4d4d4d;}
.standalone-frontTriple #contentArea .promoThree ul.inLine li a {color: #000; font-weight: normal;}
.standalone-frontTriple #contentArea .promoThree ul.inLine li a:hover {color: #DD0031;}
.standalone-frontTriple #contentArea .promoThree ul.bulleted {padding: 0 5px 0 10px;}
.standalone-frontTriple #contentArea .promoThree ul.bulleted li {color: #4d4d4d; list-style: none;}
.standalone-frontTriple #contentArea .promoThree ul.bulleted li a {color: #00325F;}
.standalone-frontTriple #contentArea .promoThree ul.bulleted li a:visited {color: #662D91;}
.standalone-frontTriple #contentArea .promoThree ul.bulleted li a:hover {text-decoration:underline; color:#DD0031;}
.standalone-frontTriple #contentArea .promoSmall ul.inLine {padding: 5px 5px 20px 5px;}
.standalone-frontTriple #contentArea .promoSmall ul.inLine li {display: inline; color: #000;}
.standalone-frontTriple #contentArea .promoSmall ul.bulleted li a:hover {color: #DD0031;}
.standalone-frontTriple #contentArea .promoSmall h4 {padding: 0.5em 0.25em 0.25em 0; margin: 0 0 0 10px; font-weight:bold;}
.standalone-frontTriple #contentArea .promoSmall .bulleted h4 {margin: 0 0 0 10px;  color:#4d4d4d; /* exception for quick links */}

/* 10.2.4 User selectable colour styles */
.promoTwo .infoItem.hi,.promoThree .infoItem.hi {background: #fff;}
.promoTwo .infoItem.hi img,.promoThree .infoItem.hi img {border-bottom: none;}
.promoTwo .infoItem.med,.promoThree .infoItem.med {background: none}
.promoTwo .infoItem.med img,.promoThree .infoItem.med img {border-bottom: none}
.promoTwo .infoItem.lo,.promoThree .infoItem.lo {background: #fff}
.promoTwo .infoItem.lo img,.promoThree .infoItem.lo img {border-bottom: none}
.promoSmall .hi a, .promoSmall .med a {color: #00325F;}
.promoSmall .hi a:hover, .promoSmall .med a:hover, .promoSmall .lo a:hover, .promoSmall a:hover{color: #DD0031; text-decoration:underline;}
.promoSmall .hi {background: #FFF3F1; color: #4d4d4d;}
.promoSmall .med {background: #EDF1F4; color: #4d4d4d;}
.promoSmall .lo {background: #f5f5f5;}
/* .standalone-frontDouble #contentArea .promoSmall .med li a {color: #fff;} */
.standalone-frontDouble #contentArea .promoSmall .med li a:hover {color: #DD0031;}

/* 10.2.5 Sub unit homepage */
.standalone-homePage2 #breadTrail ul, .standalone-homePage #breadTrail ul { padding: 5px 0 5px 0; border-bottom:1px solid #ccc;}
.standalone-homePage2 #breadTrail, .standalone-homePage #breadTrail { margin-left:0; }
.standalone-homePage .themesMain {width: 530px; background: #fff; float: left; margin: 0 27px 0 0;}
.standalone-homePage .themesMain {border-color:#DD0031; border-left:2px solid #DD0031}
.standalone-homePage .themesMain.hi{border-color:#DD0031}
.standalone-homePage .themesMain.med{border-color:#00325F;}
.standalone-homePage .themesMain.lo{border-color: #999}
.standalone-homePage .themesMain img {float: left; padding-right: 40px; border: none; }
.standalone-homePage #contentArea .themesMain h1 {margin: 0 0 0 0px; padding: 10px 0 10px 0; width: 238px; float: left; color: #DD0031;}
.standalone-homePage #contentArea .themesMain h1 a {text-decoration: none; color: #DD0031; /* default */}
.standalone-homePage #contentArea .themesMain.hi h1 a, .standalone-homePage #contentArea .themesMain.h1 h1 {text-decoration: none; color: #DD0031;}
.standalone-homePage #contentArea .themesMain.med h1 a,.standalone-homePage #contentArea .themesMain.med h1 {text-decoration: none; color: #00325F;}
.standalone-homePage #contentArea .themesMain.lo h1 a, .standalone-homePage #contentArea .themesMain.lo h1 {text-decoration: none; color: #4d4d4d;}
.standalone-homePage #contentArea .themesMain h1 a:hover {text-decoration: underline; color: #DD0031;}
.standalone-homePage #contentArea .themesMain p {padding-left: 15px;}
.standalone-homePage2 #contentArea .promoThree h4, .standalone-homePage #contentArea .promoThree h4, .standalone-homePage #contentArea .themesMain p, .standalone-homePage #contentArea .themesMain p a {color: #00325F;}
.standalone-homePage #contentArea .themesMain p a:hover {color: #DD0031;}
.standalone-homePage #contentArea .themesMain ul.bulleted li, .standalone-homePage #contentArea .themesMain ul.bulleted li a {color: #00325F;}
.standalone-homePage #contentArea .themesMain ul.inLine li,.standalone-homePage #contentArea .themesMain ul.inLine li a{color: #000;}
.standalone-homePage #contentArea .themesMain ul.inLine li a:hover, .standalone-homePage #contentArea .themesMain ul.bulleted li a:hover {color: #DD0031;}
.standalone-homePage #contentArea .themesMain ul.bulleted {float: left; padding: 0px; }
.standalone-homePage #contentArea .themesMain ul.bulleted li {width: 230px; list-style: none; margin-left: 0px;}
.standalone-homePage #contentArea .infoItem p a {padding-bottom: 5px;}
.standalone-homePage #contentArea .topRow {overflow: hidden; height: 100%; margin-bottom: 10px;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne, .standalone-homePage #contentArea .topRow .infoItem.promoOne {background: #fff; width: 250px; float: left; padding-bottom: 300px; margin-bottom: -300px; border-left:2px solid #999; border-top:10px solid #999}
/* User selectable */
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.hi, .standalone-homePage #contentArea .topRow .infoItem.promoOne.hi{border-color:#DD0031}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.med, .standalone-homePage #contentArea .topRow .infoItem.promoOne.med{border-color:#00325F}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.lo, .standalone-homePage #contentArea .topRow .infoItem.promoOne.lo{border-color:#999}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.hi h4 a, .standalone-homePage #contentArea .topRow .infoItem.promoOne.hi h4 a {font-size: 100%; color:#DD0031}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.med h4 a, .standalone-homePage #contentArea .topRow .infoItem.promoOne.med h4 a {font-size: 100%; color:#00325F}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne.lo h4 a, .standalone-homePage #contentArea .topRow .infoItem.promoOne.lo h4 a {font-size: 100%; color:#4d4d4d}
.standalone-homePage #contentArea .topRow .infoItem.promoOne img {float: left; border: none; padding: 0 5px 0 0;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne h4, .standalone-homePage #contentArea .topRow .infoItem.promoOne h4 {padding: 0; margin: 7px 0 0 10px; color: #4d4d4d; font-size: 138.5%; }
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne h4 a, .standalone-homePage #contentArea .topRow .infoItem.promoOne h4 a {font-size: 100%; color:#4d4d4d}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.bulleted {padding: 0 5px 0 10px; margin: 5px 0 0 0px; overflow: hidden; }
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted li, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.bulleted li {line-height: 1.5em; color: #fff; list-style: none; margin: 2px 0 2px 10px;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted li a, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.bulleted li a {color: #00325F; font-weight: normal; display:inline-block; padding-left:12px;background:url(images/sprites.png) left -1498px no-repeat;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted li a:visited, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.bulleted li a:visited {color: #662D91; text-decoration:underline}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted li a:hover, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.bulleted li a:hover {color: #00325F!important; text-decoration:underline}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.inLine li, .standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.inLine li a, .standalone-homePage #contentArea .topRow .infoItem.promoOne ul.inLine li {color: #4d4d4d;}
.standalone-homePage #contentArea .topRow .infoItem.promoOne p {color: #4d4d4d; padding: 0; margin: 5px;}
.standalone-homePage #contentArea .topRow .infoItem.promoOne p a {float: none; font-weight: bold; margin: 5px 5px 0 0; text-decoration: none;}
.standalone-homePage #contentArea .topRow .infoItem.promoOne a:hover {color: #00325F; text-decoration: underline;}
.standalone-homePage2 #contentArea .promoThree, .standalone-homePage #contentArea .promoThree {overflow: hidden; height: 100%; margin-bottom: 10px; }
.standalone-homePage2 #contentArea .promoThree .middle, .standalone-homePage #contentArea .promoThree .middle { margin: 0 27px 0 28px;}
.standalone-homePage2 #contentArea .promoThree .infoItem, .standalone-homePage #contentArea .promoThree .infoItem {background: #fff; width: 250px; float: left; padding-bottom: 310px; margin-bottom: -300px; border-left:2px solid #DD0031; border-color:#DD0031 /* Default */}
.standalone-homePage2 #contentArea .promoThree .infoItem.med, .standalone-homePage #contentArea .promoThree .infoItem.med {border-color:#00325F}
.standalone-homePage2 #contentArea .promoThree .infoItem.lo, .standalone-homePage #contentArea .promoThree .infoItem.lo {border-color:#999}
.standalone-homePage2 #contentArea .promoThree .infoItem img, .standalone-homePage #contentArea .promoThree .infoItem img {border-bottom: none;}
.standalone-homePage2 #contentArea .promoThree h4, .standalone-homePage #contentArea .promoThree h4 {font-size: 17px; padding: 0; margin: 5px 5px 10px 7px;}
.standalone-homePage2 #contentArea .promoThree h4 a, .standalone-homePage #contentArea .promoThree h4 a {font-size: 100%; color:#DD0031}
.standalone-homePage2 #contentArea .promoThree .hi h4 a, .standalone-homePage #contentArea .promoThree .hi h4 a {color:#DD0031}
.standalone-homePage2 #contentArea .promoThree .med h4 a, .standalone-homePage #contentArea .promoThree .med h4 a {color:#00325F}
.standalone-homePage2 #contentArea .promoThree .lo h4 a, .standalone-homePage #contentArea .promoThree .lo h4 a {color:#4d4d4d}
.standalone-homePage2 #contentArea .promoThree p, .standalone-homePage #contentArea .promoThree p {padding: 0; margin: 0 5px 10px 7px;}
.standalone-homePage2 #contentArea .promoThree ul.inLine, .standalone-homePage #contentArea .promoThree ul.inLine {padding: 0 7px;}
.standalone-homePage2 #contentArea .promoThree ul.inLine li, .standalone-homePage #contentArea .promoThree ul.inLine li {display: inline; color: #4d4d4d; padding: 0 5px 0 0; line-height: 1.5em;}
.standalone-homePage2 #contentArea .promoThree ul.inLine li a, .standalone-homePage #contentArea .promoThree ul.inLine li a {color: #000; font-weight: normal;}
.standalone-homePage2 #contentArea .promoThree ul.inLine li a:hover, .standalone-homePage #contentArea .promoThree ul.inLine li a:hover {color: #DD0031;}
.standalone-homePage2 #contentArea .promoThree ul.bulleted, .standalone-homePage #contentArea .promoThree ul.bulleted {padding: 0 5px 0 10px; text-indent: 0; margin-left: 0px;}
.standalone-homePage2 #contentArea .promoThree ul.bulleted li, .standalone-homePage #contentArea .promoThree ul.bulleted li {color: #4D4D4D; list-style: none; line-height: 1.5em; }
.standalone-homePage2 #contentArea .promoThree ul.bulleted li a, .standalone-homePage #contentArea .promoThree ul.bulleted li a {color: #00325F; font-weight: normal; display:inline-block; padding-left:12px;	background:url(images/sprites.png) left -1498px no-repeat;text-decoration: none}
.standalone-homePage2 #contentArea .promoThree ul.bulleted li a:hover, .standalone-homePage #contentArea .promoThree ul.bulleted li a:hover {text-decoration: underline; color: #00325F;}
.standalone-homePage2 #contentArea .promoThree ul.bulleted li a:visited, .standalone-homePage #contentArea .promoThree ul.bulleted li a:visited {color: #662D91;}
.standalone-homePage2 #contentArea .subsiteSmall, .standalone-homePage #contentArea .subsiteSmall {overflow: hidden;  height: 100%; margin-bottom: 10px; min-height: 110px;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem, .standalone-homePage #contentArea .subsiteSmall .infoItem {float: left; background: #EDF1F4; width: 252px; margin-left: 28px; margin-right:0;padding-bottom: 300px; margin-bottom: -300px; border-top:10px solid #00325F; /* default=med */}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem:first-child , .standalone-homePage #contentArea .subsiteSmall .infoItem:first-child{margin-left:0;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem.hi, .standalone-homePage #contentArea .subsiteSmall .infoItem.hi {background: #f0eae6; border-top:10px solid #DD0031;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem.med, .standalone-homePage #contentArea .subsiteSmall .infoItem.med {background: #edf1f4; border-top:10px solid #00325F;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem.lo, .standalone-homePage #contentArea .subsiteSmall .infoItem.lo {background: #f2f2f2; border-top:10px solid #999;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem img, .standalone-homePage #contentArea .subsiteSmall .infoItem img {border: none; padding: 0 0.5em 0 0; float: left;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem p, .standalone-homePage #contentArea .subsiteSmall .infoItem p {padding: 2px 5px 0 5px;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem p a, .standalone-homePage #contentArea .subsiteSmall .infoItem p a {float: none; font-weight: bold; margin: 5px 5px 15px 0;
display:inline-block; padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem p a:link, .standalone-homePage #contentArea .subsiteSmall .infoItem p a:link{text-decoration:none;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem p a:hover, .standalone-homePage #contentArea .subsiteSmall .infoItem p a:hover{text-decoration:underline;}
.standalone-homePage2 #contentArea .subsiteSmall h4, .standalone-homePage #contentArea .subsiteSmall h4 {padding: 0; margin: 10px 5px 5px 10px; font-size: 116%; color: #003; font-weight:bold;}
.standalone-homePage2 #contentArea .subsiteSmall h4 a, .standalone-homePage #contentArea .subsiteSmall h4 a {text-decoration: none; color:#4d4d4d}
.standalone-homePage2 #contentArea .subsiteSmall ul.bulleted, .standalone-homePage #contentArea .subsiteSmall ul.bulleted {padding: 0px 5px 20px 10px; text-indent: 0; margin-left: 10px; overflow: hidden; list-style:none;}
.standalone-homePage2 #contentArea .subsiteSmall .bulleted ul.bulleted, .standalone-homePage #contentArea .subsiteSmall .bulleted ul.bulleted {padding-left: 1px; }
.standalone-homePage2 #contentArea .subsiteSmall ul.bulleted li, .standalone-homePage #contentArea .subsiteSmall ul.bulleted li {color: #000; list-style: none; line-height: 1.5em;}
.standalone-homePage2 #contentArea .subsiteSmall ul.inLine li, .standalone-homePage #contentArea .subsiteSmall ul.inLine li {display: inline; color: #000; padding: 0 5px 0 0; line-height: 1.5em;}
.standalone-homePage2 #contentArea .subsiteSmall ul.inline, .standalone-homePage #contentArea .subsiteSmall ul.inline {padding: 5px 5px 20px 5px;}
.standalone-homePage2 #contentArea .subsiteSmall ul.inline li a, .standalone-homePage #contentArea .subsiteSmall ul.inline li a {font-weight: normal; }
.standalone-homePage2 #contentArea .subsiteSmall a:link, .standalone-homePage #contentArea .subsiteSmall a:link {color: #00325F;}
.standalone-homePage2 #contentArea .subsiteSmall h4 a:link, .standalone-homePage #contentArea h4 .subsiteSmall a:link {color: #00325F; /*  default=med */}
.standalone-homePage2 #contentArea .subsiteSmall .hi h4 a:link, .standalone-homePage #contentArea .hi h4 .subsiteSmall a:link {color: #DD0031;}
.standalone-homePage2 #contentArea .subsiteSmall .med h4 a:link, .standalone-homePage #contentArea .med h4 .subsiteSmall a:link {color: #00325F;}
.standalone-homePage2 #contentArea .subsiteSmall .lo h4 a:link, .standalone-homePage #contentArea .lo h4 .subsiteSmall a:link {color: #4d4d4d;}
.standalone-homePage2 #contentArea .subsiteSmall a:visited, .standalone-homePage #contentArea .subsiteSmall a:visited {color: #662D91;}
.standalone-homePage2 #contentArea .subsiteSmall a:hover, .standalone-homePage #contentArea .subsiteSmall a:hover {text-decoration: underline; color: #00325F;}
.standalone-homePage2 #contentArea .quickLinks, .standalone-homePage #contentArea .quickLinks {width: 250px; float: left; border: none; margin: 0 0 0 28px; padding: 0; background: none; min-height: 130px;border-top:10px solid #999; background:#f2f2f2; padding-bottom:300px; margin-bottom:-300px;}
.standalone-homePage2 #contentArea .quickLinks h2, .standalone-homePage #contentArea .quickLinks h2 {margin: 8px 5px 5px; padding: 0 0 0 5px; font-size: 116%; color: #4d4d4d; background: none; font-family:'lucida grande', 'tahoma', arial, sans-serif}
.standalone-homePage2 #contentArea .quickLinks ul, .standalone-homePage #contentArea .quickLinks ul {padding: 0 0 0.5em 0;}
.standalone-homePage2 #contentArea .quickLinks li, .standalone-homePage #contentArea .quickLinks li {padding: 2px 5px 2px 10px; list-style:none; list-style-position: inside; color: #00325F; }
.standalone-homePage2 #contentArea .quickLinks a, .standalone-homePage #contentArea .quickLinks a {color: #00325F; display:inline-block; padding-left:12px;background:url(images/sprites.png) left -1498px no-repeat;text-decoration:none}
.standalone-homePage2 #contentArea .clearFloat, .standalone-homePage #contentArea .clearFloat {clear:both; display: none;}

/* 10.2.6 Subsite home dynamic specific */
.standalone-homePage2 #contentArea .topRow {overflow: hidden;  height: 100%; margin-bottom: 10px;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne {float: left; margin-left:27px; border-left:2px solid #999; /* default */}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne img {border-bottom: none; padding: 0 5px 0 0;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne p {color: #4d4d4d; padding: 0; margin: 10px 10px;}
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne p a {float: right; font-weight: bold; margin: 5px 5px 0 0;}

/* RSS box */
.standalone-homePage2 #contentArea .rssList {padding: 0; margin: 7px;}
.standalone-homePage2 #contentArea .rssList li {list-style: none; padding: 0; margin: 0 0 7px 0; }
.standalone-homePage2 #contentArea .rssList li h5 {padding: 0; margin: 0 0 5px 0; font-size: 108%;}
.standalone-standard #contentArea .rssList.infoItem {padding: 0.25em 0 0.75em 0;}
#contentArea img.rssImage {border: none;}
.standalone-standard #contentArea .rssList.infoItem li {list-style: none; padding: 0 0 2px 0; margin: 0.25em 0 1em 0;}
.standalone-standard #contentArea .rssList.infoItem li h5 {padding: 0; margin: 0; font-size: 108%;}
.standalone-standard #contentArea .rssList.infoItem li p {padding: 0; margin: 0.2em 0 0 0;}
.standalone-homePage2 #contentArea .infoItem.promoOne ul.rssList li p {padding: 0; margin: 0;}
.standalone-homePage2 #contentArea .rssItem ul.moreNews {list-style: none; padding: 0 5px 0 10px; text-align: left;  }
.standalone-homePage2 #contentArea .rssItem ul.moreNews li {padding: 0; margin: 0 ; }
.standalone-homePage2 #contentArea .rssItem ul.moreNews li a {display:inline-block; padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat; color:#00325F; text-decoration: none;}
.standalone-homePage2 #contentArea .infoItem.promoOne ul.rssList.bulleted {padding: 0 5px 0 10px;text-indent: 0;margin-left: 0px;list-style:none;}
.standalone-homePage2 #contentArea .rssList.bulleted li {margin: 0 5px 0 0; list-style: inside disc; line-height: 1.5em; color: #fff;}
/* anythingSlider v1.0  By Chris Coyier: http://css-tricks.com with major improvements by Doug Neiner: http://pixelgraphics.us/ based on work by Remy Sharp: http://jqueryfordesigners.com/ */
.standalone-homePage2 #contentArea .anythingSlider {position: relative; display: inline-block; height: 274px; float: left; width: 532px; background: yellow}
.standalone-homePage2 #contentArea .anythingSlider .wrapper {width: 532px; overflow: auto; height: 274px; margin: 0; padding: 0; position: absolute; top: 0; left: 0px;}
.standalone-homePage2 #contentArea .anythingSlider .wrapper ul {width: 9999px; list-style: none; position: absolute; top: 0; left: 0px; background: blue; margin: 0; padding: 0;}
.standalone-homePage2 #contentArea .anythingSlider ul li {display: block; float: left; padding: 0; height: 274px; width: 532px; margin: 0; background-size: cover;}
.standalone-homePage2 #contentArea .anythingSlider a {outline: none;}

/* Controls */
.standalone-homePage2 #contentArea .anythingSlider .arrow {display: block; height: 274px; width: 30px; text-indent: -9999px; position: absolute; top: 0px; cursor: pointer; }
.standalone-homePage2 #contentArea .anythingSlider .forward {left: 501px;}
.standalone-homePage2 #contentArea .anythingSlider .forward:hover {background-color: rgba(0,0,0,0.25); background-image: url(/images/arrowForward.png) }
.standalone-homePage2 #contentArea .anythingSlider .back:hover {background-color: rgba(0,0,0,0.25); background-image: url(/images/arrowBack.png) }
.standalone-homePage2 #contentArea #thumbNav {position: relative; top: 208px; left: 0px; text-align: left; width: 515px; line-height: 1em; background:#f2f2f2;}
.standalone-homePage2 #contentArea #thumbNav a {color: black; display: inline-block; padding: 5px; width: 108px; height: 56px; margin: 0 0px 0 0; background: #00325f; text-align: left; vertical-align: top; text-decoration: none; font-weight: bold; border-right:1px solid #aaa; position:relative;}
.standalone-homePage2 #contentArea .anythingSlider #thumbNav a:hover, .standalone-homePage2 #contentArea .anythingSlider #thumbNav a.cur:hover {background: #DD0031; color: #FFF;}
.standalone-homePage2 #contentArea #thumbNav a.cur {color: black; background: #FFF;}
.standalone-homePage2 #contentArea #start-stop {background: #00325f; font-family: Arial, Helvetica, sans-serif;font-size: 14px; color: #fff; padding: 24px 0 0 0; height: 42px; width: 39px; text-align: center; position: absolute; left: 476px; top: 208px; border: none; text-decoration: none; }
.standalone-homePage2 #contentArea .anythingSlider #start-stop:hover {background: #666; color: #fff;}

/*  Prevents */
.standalone-homePage2 #contentArea .anythingSlider .wrapper ul ul {position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.standalone-homePage2 #contentArea .anythingSlider .wrapper ul ul li {float: none; height: auto; width: auto; background: none; }
/* Slider box content styles */
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText {padding: 10px 10px; margin: 10px 10px 0 10px; width: 220px; color: #FFF; background-color: black;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText h2 {font-size: 123.1%; margin: 0 0 5px 0; padding: 0;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText h2 a {text-decoration: none;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText p {margin: 5px 0 10px 0;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText a {color: #FFF;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText a:hover {color: #DD0031;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText ul.bulleted li {line-height: 1.75em; padding: 0px;}
.standalone-homePage2 #contentArea .anythingSlider ul li a img {border: none;}
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderList {padding: 5px; margin: 5px 25px; width: 375px; color: #FFF; background-color: black;}
.standalone-homePage2 #contentArea .anythingSlider .sliderText ul.inLine li {display: inline; color: #fff; padding: 0 5px 0 0;}
/* Slider CSS3 enhancements */
.standalone-homePage2 #contentArea .anythingSlider ul li div.sliderText {background-color: rgba(0,50,95,0.85); border-radius: 0px; -webkit-border-radius: 0px;}
.standalone-homePage2 #contentArea #thumbNav a {background: #f2f2f2; -moz-border-radius: 0px;border-radius: 0px; -webkit-box-shadow: 0px 0px 0px rgba(000,000,000,0.4);-moz-box-shadow: 0px 0px 0px rgba(000,000,000,0.4);box-shadow: 0px 0px 0px rgba(000,000,000,0.4);}
.standalone-homePage2 #contentArea .anythingSlider #thumbNav a:hover, .standalone-homePage2 #contentArea .anythingSlider #thumbNav a.cur:hover{background: #00325f; color: #FFF;}
.standalone-homePage2 #contentArea #thumbNav a.cur {background: #00325f; -webkit-box-shadow: 0px 0px 0px rgba(000,000,000,0.3);-moz-box-shadow: 0px 0px 0px rgba(000,000,000,0.3);box-shadow: 0px 0px 0px rgba(000,000,000,0.3); color:#fff;}
.standalone-homePage2 #contentArea #start-stop {background: #00325f;-moz-box-shadow:0px 0px 0px rgba(000,000,000,1),inset 0px 0px 0px rgba(255,255,255,0.7);-webkit-box-shadow:0px 0px 0px rgba(000,000,000,0.5),inset 0px 0px 0px rgba(255,255,255,0.7);text-shadow:0px 0px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0.3)}
/* Sub-unit homepage(s) user selectable styles */
.standalone-homePage #contentArea .themesMain.lo ul.bulleted li, .standalone-homePage #contentArea .themesMain.lo ul.bulleted li a, .standalone-homePage #contentArea .themesMain.lo ul.inLine li, .standalone-homePage #contentArea .themesMain.lo ul.inLine li a {color: black;}
.standalone-homePage #contentArea .topRow .promoOne.lo {background: #fff;}
.standalone-homePage #contentArea .topRow .promoOne.lo p, .standalone-homePage #contentArea .topRow .promoOne.lo h4, .standalone-homePage #contentArea .topRow .promoOne.lo h4 a, .standalone-homePage #contentArea .topRow .promoOne.lo ul.bulleted li a, .standalone-homePage #contentArea .topRow .promoOne.lo ul.bulleted li, .standalone-homePage #contentArea .topRow .promoOne.lo ul.inLine li {color: #000;}
.standalone-homePage #contentArea .topRow .promoOne.med {background: #fff;}
.standalone-homePage #contentArea .topRow .promoOne.hi {background: #fff;}
.standalone-homePage #contentArea .topRow .promoOne.hi h4, .standalone-homePage #contentArea .topRow .promoOne.med h4, .standalone-homePage #contentArea .topRow .promoOne.hi h4 a, .standalone-homePage #contentArea .topRow .promoOne.med h4 a {color: #4d4d4d;}
.standalone-homePage #contentArea .topRow .promoOne.hi ul.bulleted li a, .standalone-homePage #contentArea .topRow .promoOne.med ul.bulleted li a, .standalone-homePage #contentArea .topRow .promoOne.hi ul.bulleted li , .standalone-homePage #contentArea .topRow .promoOne.med ul.bulleted li {color: #00325F;}
.standalone-homePage2 #contentArea .infoItem.lo, .standalone-homePage #contentArea .infoItem.lo {background: #fff;}
.standalone-homePage2 #contentArea .infoItem.lo p, .standalone-homePage2 #contentArea .infoItem.lo p a, .standalone-homePage2 #contentArea .promoThree .infoItem.lo li, .standalone-homePage #contentArea .infoItem.lo p, .standalone-homePage #contentArea .infoItem.lo p a, .standalone-homePage #contentArea .promoThree .infoItem.lo a, .standalone-homePage #contentArea .promoThree .infoItem.lo li {color: #000;}
.standalone-homePage2 #contentArea .infoItem.lo h4, .standalone-homePage2 #contentArea .infoItem.lo h4 a, .standalone-homePage2 #contentArea .infoItem.lo h1, .standalone-homePage2 #contentArea .infoItem.lo h1 a, .standalone-homePage2 #contentArea .promoThree .infoItem.lo a, .standalone-homePage #contentArea .promoThree .infoItem.lo h4, .standalone-homePage #contentArea .promoThree .infoItem.lo h4 a, .standalone-homePage #contentArea .infoItem.lo h1, .standalone-homePage #contentArea .infoItem.lo h1 a{color:#4d4d4d;}
.standalone-homePage2 #contentArea .infoItem.lo a:hover, .standalone-homePage #contentArea .infoItem.lo a:hover {color: #DD0031 !important;}
.standalone-homePage2 #contentArea .infoItem.lo img, .standalone-homePage #contentArea .infoItem.lo img {border-bottom: none;}
.standalone-homePage2 #contentArea .infoItem.med, .standalone-homePage #contentArea .infoItem.med {background: #fff;}
.standalone-homePage2 #contentArea .infoItem.med img, .standalone-homePage #contentArea .infoItem.med img {border-bottom: none;}
.standalone-homePage2 #contentArea .infoItem.hi, .standalone-homePage #contentArea .infoItem.hi {background: #fff;}
.standalone-homePage #contentArea .subsiteSmall .infoItem.hi li,.standalone-homePage #contentArea .subsiteSmall .infoItem.med li,.standalone-homePage #contentArea .subsiteSmall .infoItem.lo li,.standalone-homePage #contentArea .subsiteSmall .infoItem.hi p,.standalone-homePage #contentArea .subsiteSmall .infoItem.med p,.standalone-homePage2 #contentArea .subsiteSmall .infoItem.hi li,.standalone-homePage2 #contentArea .subsiteSmall .infoItem.med li,.standalone-homePage2 #contentArea .subsiteSmall .infoItem.hi p,.standalone-homePage2 #contentArea .subsiteSmall .infoItem.med p {color: #4d4d4d;}
.standalone-homePage #contentArea .subsiteSmall .infoItem.hi a,.standalone-homePage #contentArea .subsiteSmall .infoItem.med a, .standalone-homePage2 #contentArea .subsiteSmall .infoItem.hi a,.standalone-homePage2 #contentArea .subsiteSmall .infoItem.med a{color:#000}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem.med a:hover, .standalone-homePage2 #contentArea .subsiteSmall .infoItem.hi a:hover, .standalone-homePage #contentArea .subsiteSmall .infoItem.med a:hover, .standalone-homePage #contentArea .subsiteSmall .infoItem.hi a:hover {color: #DD0031;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem.lo, .standalone-homePage #contentArea .subsiteSmall .infoItem.lo {background: #f4f4f4;}
.standalone-homePage2 #contentArea .subsiteSmall .infoItem img, .standalone-homePage #contentArea .subsiteSmall .infoItem img, .standalone-homePage #contentArea .topRow .themesMain img, .standalone-homePage #contentArea .topRow .promoOne img {border: none;}
#contentArea .infoItem a:hover, #contentArea .quickLinks a:hover, .standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.bulleted li a:hover,
.standalone-homePage2 #contentArea .topRow .infoItem.promoOne ul.inLine li a:hover {color: #DD0031!important; text-decoration: underline;}

/* 11. Floats & clearing */
/* ---------------------------------------------------------------------------------------------------------------- */
.floatRight { float: right; margin-left: 8px;}
.floatLeft { float: left; margin-right: 8px;}
.clearFloat { clear:both; height:0; font-size: 1px; line-height: 0px;}

/* 12. Access */
/* ---------------------------------------------------------------------------------------------------------------- */
#skipLink, #skipMenu {position:absolute; left:-5000px; top:auto; width:1px; height:1px; overflow:hidden;}

/* 13. Footer */
/* ---------------------------------------------------------------------------------------------------------------- */
#contentArea p.articlePublished {clear: both; color: #666; font-size: 85%; /*11px*/ margin-top: 1.5em;}
#footer { border-top: none; font-size: 1em; padding: 10px 10px 0 20px; background: #333; z-index:1000; clear:left;}
#footer a { color: #fff;}
#footer a:hover { color: #ddd; text-decoration:none;}
#footer div { width: 780px; margin: 0 auto; text-align: left; color: #000; padding: 10px 0; position:relative;}
#footer div ul li {display: inline; padding: 0 20px 0 0; font-size: 85%; }
#footer div ul {padding: 0 0 10px 0; text-align: left;}
#footer div p {display: block; padding-bottom: 5px; font-size: 85%; color:#fff;}
#linkMyEd{position:absolute; top:10px; right:0;}
#footer .tb_button a,
#sectionHeader .tb_button a{display:inline-block; color:#00325f; padding:0px 10px; height:30px; line-height:30px; padding-left:20px; background:#e6e6e6 url(images/sprites.png) 8px -1491px no-repeat; text-decoration:none; font-weight:bold; }
#footer .tb_button a:hover,
#sectionHeader .tb_button a:hover{background-color: #999; }

/* 14. Print styles */
/* ---------------------------------------------------------------------------------------------------------------- */
@media print {
body {background: none;}
#header {border-bottom: 0;}
#branding {width: 100%;}
#branding img {display: none;}
#branding a {color: #000;}
#branding span {text-indent: -70px; font-size: 200%; font-weight: bold; width: 100%;}
#sectionHeader img {display: none;}
#sectionHeader span.hideSection, #sectionHeader span {text-indent: 0px; font-size: 200%; color: #000;}
.childHeader a {font-size: 125%;}
#container #contentArea {margin: 0; padding: 0;}
#container #contentArea .infoItem * {float: none;}
#footer, #globalNav, #utility, #breadTrail, #secondaryNav, #primaryNav {display: none;}
}

/* 15. Global includes + webproxy */
/* ---------------------------------------------------------------------------------------------------------------- */
/* Schools and Depts A-Z list */
#contentArea .structureLists ul.inline {list-style:none;list-style-image:none;list-style-type:none;float:none;margin: 1em 0;padding: 0;}
#contentArea .structureLists ul.inline li {display:inline;list-style-image: none;list-style-type: none;margin: 0;padding: 0;line-height:2.25em;}
#contentArea .structureLists ul.inline li a {background-color: #EEE;border: 1px solid #CCC;color: #444;font-size: 123.1%;font-weight: bold;padding: 2px 5px;text-decoration:none;}
#contentArea .structureLists ul.inline li a:hover {color: red; border:1px solid red; background-color: #FFF;}
#contentArea .structureLists ul li {list-style:none;list-style-image:none;list-style-type:none;padding: 0.2em 0;}
#contentArea .structureLists h6 {border-bottom:1px solid #CCC;color:#222;font-size: 138.5%;margin:0.5em 1em;padding:0pt 0pt 2px 2px;}
#contentArea .structureLists h6 span a {float: right; font-size: 80%; font-weight: normal;}
#contentArea .structureLists a:hover {color: red;}
#contentArea .structureLists h2 {clear: left;}
/* Social share */
#contentArea p.socialButton {padding: 0; margin: 0 0 5px 0;}
#contentArea p.socialButton a img {float: none; margin: 0;}

/* XX. Temp styles */
/* ---------------------------------------------------------------------------------------------------------------- */
.standalone- #contentArea { margin: 0 0 0 175px; padding: 5px 10px; } /* web proxy layout addition */
#contentArea .socialButton {height: 30px}

/* <=IE6 styles */
* html body {background-image: url(/images/bgbodyie.jpg) }
* html body.standalone-frontTriple .infoItem, * html body.standalone-frontDouble .infoItem  {padding-bottom: 0px; margin-bottom: 0px;}
* html body.standalone-frontDouble .promoSmall, * html body.standalone-frontTriple .promoSmall  {padding: 5px 0 0 0;}
* html body.standalone-frontTriple .promoThree { background-color: #DD0031;}
* html body div.caption p  {display:none;}

/* Special html template outputs extra div - temp fix */
h1 + div {float: left;}

/* IE6 styles for slider
* html body {background: none;} * html body.uofeHome #globalNav {position:fixed; margin-top: -100px;}
* html body.uofeHome #utility {float: none;} * html body.uofeHome #topRow {margin-top: -40px;} * html body.uofeHome .themesPrimary .infoItem, * html body.uofeHome .themesSecondary .infoItem {float: left; width: 182px;} * html body.uofeHome .themesPrimary .infoItem img {width: 182px; height: 97px;} * html body.uofeHome .themesPrimary {background: none;} * html body.uofeHome .themesSecondary {background: none;} * html body.uofeHome .newsArticles img.homeRSS {display: none;}
*/

/* 2013 Enhancements */
/* ----------------------------------------------------------------------------------------------------------------*/
.infoItem {border-top:10px solid #00325F;}
.infoItem.hi {border-top:10px solid #DD0031;}
.infoItem.med {border-top:10px solid #00325F;}
.infoItem.lo {border-top:10px solid #999;}

/* new linkList bullet style */
#contentArea ul.linksList {list-style-type: none;padding: 0px;margin: 0px;}
#contentArea ul.linksList li {background-image: url(images/sprites.png);background-repeat: no-repeat;background-position: left -1495px; padding-left: 12px;}

/* Addtions */
#contentArea .streamingmedia_container a {padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat; }
#contentArea .streamingmedia_container a:hover {color: #DD0031;}

/* Content area RSS feed */
#contentArea .rssFeed h3 a, #contentArea .rssFeed h4 a {text-decoration: none;}
#contentArea .rssFeed h3 a:hover, #contentArea .rssFeed h4 a:hover {text-decoration: underline; color: #DD0031;}
#contentArea .rssFeed ul {list-style:none; padding: 0;}
#contentArea .rssFeed li {padding: 5px 0;}
#contentArea .rssFeed li a {padding-left:12px; background:url(images/sprites.png) left -1498px no-repeat; }

#contentArea .rssList.infoItem li {clear: left;}
#contentArea .rssList.infoItem {border: none;}

/* Dev styles */
/* ShareThis widget */
#contentArea .shareSocial {padding: 7px; margin: 1em 0 0 0; background: #F4F4F4; border-top: 10px solid #ccc;}
#contentArea .shareSocial h3 {padding:0; margin: 0 0 0.5em 0; color: #666;}
#contentArea .shareSocial li {list-style: none; display: inline-block; padding: 0 5px 0 0;}
#contentArea .shareSocial ul, #contentArea .shareSocial ul li a, #contentArea .shareSocial img {padding:0; margin: 0;}
#contentArea .shareSocial p img {vertical-align: middle; float: none; padding-right: 5px;}
#contentArea .shareSocial p {color: #666; font-size: 85%;}


/* Better bulleted link flow */
.standalone-frontTriple #contentArea .promoSmall a + h4 + ul.bulleted {padding-left: 107px;} /* link flow when image present */
.standalone-frontTriple #contentArea .promoSmall a + h4 + p {margin-left: 105px;}
.standalone-frontTriple #contentArea .promoSmall a + h4 + p + p>a {margin-left: 95px; display: block;}
















