<test-data-file-select *ngIf="devMode"
                       [applications]="applications"
                       [newStudent]="newStudent"
                       (applicationsChanged)="onApplicationsChange($event)"
                       (newStudentChanged)="onNewStudentChange($event)">
</test-data-file-select>

<applications *ngIf="applications || newStudent"
  [applications]="applications" [newStudent]="newStudent"
  (onTaskButtonClick)="onTaskButtonClick($event)">
</applications>

<test-workflow-navigation *ngIf="testMode"
                          [workflowFile]="workflowFile"
                          (applicationsChanged)="onApplicationsChange($event)"
                          (newStudentChanged)="onNewStudentChange($event)">
</test-workflow-navigation>
