<div *ngIf="application">
  <h2>
  	{{ application.programme }}
  	<small>{{ application.entryYear }}</small>
  	<p class="header-subheader text-uoe-colour">{{ application.status }}</p>
  </h2>

  <workflow [workflow]="application.workflow" [tasks]="application.tasks" [information]="application.information"></workflow>

</div>
