<div class="main-content">
  <div class="row">
    <div class="section col-lg-9">
      <div *ngIf="applications">
        <h1>My Applications
          <a id="NextWorkflowStep"
             class="btn btn-primary" role="button" data-toggle="tooltip"
             title="Open the Applicant Hub in a new window">Manage my applications
          </a>
        </h1>
        <ul class="applications">
          <li *ngFor="let application of applications">
            <application [application]="application"></application>
          </li>
        </ul>
      </div>

      <div *ngIf="newStudent">
        <h1>New Student
          <a class="btn btn-primary" href="http://www.myed.ed.ac.uk" role="button" data-toggle="tooltip"
             title="Open Euclid in a new window">View my student record</a>
        </h1>
        <ul class="applications">
          <li *ngFor="let application of newStudent">
            <application [application]="application"></application>
          </li>
        </ul>
      </div>
    </div>

    <div *ngFor="let application of applications" class="col-lg-3">
      <div class="section">
        <div *ngIf="application.links" class="panel panel-uoe-low list-tasks">
          <div class="panel-heading">
            <h3 class="panel-title">Further Information</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <workflow-step-information *ngFor="let link of application.links"
                                         [information]="link"></workflow-step-information>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let application of newStudent" class="col-lg-3">
      <div class="section">
        <div *ngIf="application.links" class="panel panel-uoe-low list-tasks">
          <div class="panel-heading">
            <h3 class="panel-title">Further Information</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <workflow-step-information *ngFor="let link of application.links"
                                         [information]="link"></workflow-step-information>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
