<div class="row">
  <div *ngIf="!applications && !newStudent" class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h4>Nothing showing up? Please supply a valid JSON file!</h4>
    <p>A JSON file can be supplied by ...</p>
    <ul>
      <li>
        providing a file in the URL, e.g. <a
        href="{{ hostname }}?file=/app/mocks/010-ready_for_decision.json">{{ hostname
        }}?file=/app/mocks/010-ready_for_decision.json</a>
      </li>
      <li>
        choosing a file below
      </li>
    </ul>
    <p>N.B. This for test purposes only, it will not appear in production.</p>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <label for="chooseJsonFile">JSON File</label>
      <input type="file" (change)="changeListener($event)" class="form-control" id="chooseJsonFile">
    </div>
    <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom"
       title="Click to select a JSON file. This for test purposes only, it will not appear in production. To hide this control set testMode=false in URL.">
    </i>
  </form>
</div>
