<div *ngIf="currentWorkflowStep.task" class="main-content bg-test">
  <div *ngIf="currentWorkflowStep.task" class="jumbotron">
    <h1 *ngIf="currentWorkflowStep.task">{{ currentWorkflowStep.task.title }}</h1>
    <p *ngIf="currentWorkflowStep.task">{{ currentWorkflowStep.task.description }}</p>
    <p *ngIf="currentWorkflowStep.task">
      <a *ngIf="currentWorkflowStep.task.instructions" class="btn btn-primary btn-lg" role="button" (click)="nextWorkflowStep()">{{ currentWorkflowStep.task.instructions }}</a>
    </p>
  </div>
</div>

<!--TESTING: Navigation for usability testing -->
<nav class="navbar navbar-test navbar-fixed-bottom bg-test">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div [hidden]="!hasPreviousWorkflowStep">
          <a class="btn btn-default pull-left" role="button" (click)="previousWorkflowStep()">Previous</a>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3>
          TESTING
          <small *ngIf="currentWorkflowStep">{{ currentWorkflowStep.timeline }}</small>
        </h3>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div [hidden]="!hasNextWorkflowStep">
          <a class="btn btn-default pull-right" role="button" (click)="nextWorkflowStep()">Next</a>
        </div>
      </div>
    </div>
  </div>
</nav>

